<ion-view>
    <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
        <ion-nav-buttons side="left">
            <!-- <a class="button button-icon icon ion-close-circled" ng-click="goback()"></a> -->
            <span>  <img src="img/close.svg" style="width:50%;margin-left: 10px;" ng-click="goback()"></span>
        </ion-nav-buttons>
        <ion-nav-title>
            <div class="h1 title">About Us</div>
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content class="smt_background_image" >
        <div class="" style="padding:25px;">
            <p>ShopMyTools has built an exclusive platform to profit every tool buyer in diversifying ways. Have you wondered,
                we merged many major tool brands and 1000’s of varieties of tools at one place which enables you to buy what
                you really want, that too at affordable prices, attractive offers, and transparency in warranty & service
                conditions.</p>
            <p>“ShopMyTools is committed to quality and customer satisfaction”</p>
            <p>With the two decades of our promoter experience in tool era, ShopMyTools has stepped to the digital platform
                with the motto of simplifying tool buying tasks to quite easiest ways. Exclusively, ShopMyTools offers Power
                Bonus and Reward Point benefits for every customer for their every buy. We endeavor to make our customer
                happy after shopping their tool, which is the biggest satisfaction for us.</p>
        </div>
    </ion-content>
</ion-view>