<ion-view>

    <!-- header part start here -->
    <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-clear" ng-click="closePopup()">
                <i class="icon ion-close-circled"></i>
            </button>
        </ion-nav-buttons>
        <ion-nav-title>
            <div class="h1 title">Cart</div>
        </ion-nav-title>
        <!-- <ion-nav-buttons side="right">
            <button class="button button-icon" ng-click="gotoBillingAddressDetails()">Save</button>
        </ion-nav-buttons> -->
    </ion-nav-bar>
    <!-- header part end here -->

    <ion-content class="smt_background_image" style="padding:0;">
        <div class="row" id="add_new_add_btn">
            <div class="col">
                <button class="button button-block">+ Add a new address</button>
            </div>
        </div>

        <!-- addresses start here -->
        <div class="usr_addr">
            <div class="radiobutns">
                <input type="radio" name="address" />
                <span class="p_name">Person Name</span>
                <span class="edit">
                    <i class="fa ion-compose"></i>
                </span>
                <div class="edit_user_address">
                    <div class="row">
                        <div class="col">
                            <p class="addr">
                                <span>Shop Name, </span>
                                <span>D/No:2/85 A, </span>
                                <span>Kothapudi, </span>
                                <span>Machilipatnam, </span>
                                <span>Krishna Dist, A.P,</span>
                                <span>521002.</span>
                            </p>
                            <p class="ph_no">
                                <span>8978041215</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="usr_addr">
            <div class="radiobutns">
                <input type="radio" name="address" />
                <span class="p_name">Person Name</span>
                <span class="edit">
                    <i class="fa ion-compose"></i>
                </span>
                <div class="edit_user_address">
                    <div class="row">
                        <div class="col">
                            <p class="addr">
                                <span>Shop Name, </span>
                                <span>D/No:2/85 A, </span>
                                <span>Kothapudi, </span>
                                <span>Machilipatnam, </span>
                                <span>Krishna Dist, A.P,</span>
                                <span>521002.</span>
                            </p>
                            <p class="ph_no">
                                <span>8978041215</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="usr_addr">
            <div class="radiobutns">
                <input type="radio" name="address" />
                <span class="p_name">Person Name</span>
                <span class="edit">
                    <i class="fa ion-compose"></i>
                </span>
                <div class="edit_user_address">
                    <div class="row">
                        <div class="col">
                            <p class="addr">
                                <span>Shop Name, </span>
                                <span>D/No:2/85 A, </span>
                                <span>Kothapudi, </span>
                                <span>Machilipatnam, </span>
                                <span>Krishna Dist, A.P,</span>
                                <span>521002.</span>
                            </p>
                            <p class="ph_no">
                                <span>8978041215</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- addresses end here -->

        <div class="row" id="delivery_btn">
            <div class="col">
                <button class="button button-block">delivery here</button>
            </div>
        </div>

    </ion-content>
</ion-view>