<ion-view>
    <!--  category top header start here  -->
    <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
        <ion-nav-buttons side="left">
            <span class="button button-icon icon ion-close-circled" ng-click="goback()"></span>
        </ion-nav-buttons>
        <ion-nav-title>
            <div class="h1 title">Order</div>
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <a class="button button-icon icon ion-funnel" menu-toggle="right" ng-click="gotoFilter()"></a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <!--  category top header end here  -->

    <ion-content class="smt_background_image" style="padding:0;">
        <!--  category body start here  -->
        
            <div class="row" style="padding-left: 15px;">
                <div class="col">
                    <div class="cancel_orders_ser">
                        <h1 class="f_left">Your Orders</h1>
                        <span class="search f_right">
                            <i class="icon ion-search placeholder-icon" style="color: #aaa;"></i>
                            <input type="search" placeholder="Search all orders" style="color:#000;margin-top:-32px; margin-left:20px;">
                        </span>
                    </div>
                </div>
            </div>
            <div class="canc_div">
                <div class="row">
                    <div class="col">
                        <div class="cancel_orders_ser">
                            <h4 class="f_left">Cancelled Orders</h4>
                            <h4 class="f_right">Filter Orders <span style="color:#000;"><i class="icon ion-ios-arrow-right"></i><i class="icon ion-ios-arrow-right"></i></span></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="category_body">
            <div class="cancel_cart_list">
                <div class="list1">
                    <a class="item item-thumbnail-left" class="product-img">
                        <img ng-src="{{productsdata.upload_photo  | image_jpg}}" alt="Image">
                        <h2>Product Name</h2>
                        <p class="">Cancelled</p>
                    </a>
                </div>
                <div class="list1">
                    <a class="item item-thumbnail-left" class="product-img">
                        <img ng-src="{{productsdata.upload_photo  | image_jpg}}" alt="Image">
                        <h2>Product Name</h2>
                        <p class="">Cancelled</p>
                    </a>
                </div>
                <div class="list1">
                    <a class="item item-thumbnail-left" class="product-img">
                        <img ng-src="{{productsdata.upload_photo  | image_jpg}}" alt="Image">
                        <h2>Product Name</h2>
                        <p class="">Cancelled</p>
                    </a>
                </div>
                <div class="list1">
                    <a class="item item-thumbnail-left" class="product-img">
                        <img ng-src="{{productsdata.upload_photo  | image_jpg}}" alt="Image">
                        <h2>Product Name</h2>
                        <p class="">Cancelled</p>
                    </a>
                </div>
                <div class="list1">
                    <a class="item item-thumbnail-left" class="product-img">
                        <img ng-src="{{productsdata.upload_photo  | image_jpg}}" alt="Image">
                        <h2>Product Name</h2>
                        <p class="">Cancelled</p>
                    </a>
                </div>
            </div>

        </div>
        <!-- <div class="no_records m_top12" ng-if="products=='' || products==undefined">
                    <span>No Records Found !!!</span>
                </div> -->
        <!--  category body end here  -->
    </ion-content>
</ion-view>