<ion-view>

    <!--  category top header start here  -->
    <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
        <ion-nav-buttons side="left">
            <a class="button button-icon icon ion-close-circled" menu-toggle="left"></a>
        </ion-nav-buttons>
        <ion-nav-title>
            <div class="h1 title">Cart</div>
        </ion-nav-title>
    </ion-nav-bar>
    <!--  category top header end here  -->

    <ion-content class="smt_background_image" style="padding:0;">

        <!--  category body start here  -->
        <div class="category_body">
            <div class="category_cart_list">
                <div class="list1">
                    <div class="cart_details">
                        <h1>Product Name</h1>
                        <div class="product_price">
                            <span class="offer_price">2000</span>
                            <span class="real_price">4000</span>
                            <span class="offer_percentage">30.24%</span>
                        </div>
                        <p class="excl_gst">(Excluding-GST)</p>
                    </div>
                    <a class="item item-thumbnail-left" class="product-img">
                        <img src="img/Smt_Logo.png" width="90%">
                    </a>
                </div>
            </div>
        </div>
        <!--  category body end here  -->
    </ion-content>
</ion-view>