<ion-view>

    <!--  category top header start here  -->
    <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
        <ion-nav-buttons side="left">
            <a class="button button-icon icon ion-close-circled" ng-click="goback()"></a>
        </ion-nav-buttons>
        <ion-nav-title>
            <div class="h1 title">Cart</div>
        </ion-nav-title>
    </ion-nav-bar>
    <!--  category top header end here  -->

    <ion-content class="smt_background_image" style="padding:0;" id="cart_page">
        <!-- <div class="row pincode">
            <div class="col">
                <p class="location_det">
                    <span class="theme_clr">
                        <i class="icon ion-location"></i>
                    </span>
                    <span>Pincode</span>
                    <span class="theme_clr">521002</span>
                </p>
            </div>
            <div class="col">
                <button class="change_btn">Change</button>
            </div>
        </div> -->

        <!--  category body start here  -->
        <div class="category_body">
            <div class="category_cart_list" ng-if="cartItemsList.length > 0">
                <div class="list1">
                    <div ng-repeat="item in cartItemsList">
                        <div class="row">
                            <div class="col">
                                <h1>{{item.productdescription}}</h1>
                                <div class="product_price">
                                    <span class="offer_price">{{item.offer_price | currency:'&#8377;'}}</span>
                                    <br>
                                    <span class="pro_attr">Tax :</span>
                                    <span class="pro_val">{{item.tax }}</span>
                                    <br>
                                    <span class="pro_attr">Tax Amount:</span>
                                    <span class="pro_val">{{item.tax_amount | currency:'&#8377;'}}</span>
                                    <br>
                                    <span class="pro_attr">Sub total:</span>
                                    <span class="pro_val">{{item.sub_total | currency:'&#8377;'}}</span>
                                    <!-- <span class="offer_percentage">30.24%</span> -->
                                </div>
                            </div>
                            <div class="col">
                                <img ng-src="{{item.image}}" width="50%" class="cart_imagess">

                                <div class="amunt_auto_incre">
                                    <a id="decre" class="button" ng-click="decrement(item)">-</a>
                                    <input type="text" class="texting" ng-model="item.qty" ng-change="addtocartDetails(item)">
                                    <a id="incre" class="button" ng-click="increment(item)">+</a>
                                </div>



                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col font_size15">
                                <span>Tax Amount:</span>
                                <span>{{item.tax_amount | currency:'&#8377;'}}</span>
                                <br>
                                <span>Sub total:</span>
                                <span>{{item.sub_total | currency:'&#8377;'}}</span>
                            </div>
                        </div> -->
                        <div class="row" id="cart_list_icons">
                            <div class="col btn_clr" ng-click="addtoWishList(item)">
                                <span>
                                    <i class="icon ion-heart"></i>
                                </span>
                                <span>Move to whishlist</span>
                            </div>
                            <div class="col btn_clr" ng-click="deleteCartItem(item)">
                                <span>
                                    <i class="icon ion-trash-a"></i>
                                </span>
                                <span>Remove</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="pro_amnt_details">
                                <h2>Price Details</h2>
                                <div class="">
                                    <p>
                                        <span class="attr">Price (
                                            <span>{{cartItemsList.length}}</span> items)</span>
                                        <span class="val">{{grand_total | currency:'&#8377;'}}</span>
                                    </p>
                                    <p>
                                        <span class="attr">Shipping Charges</span>
                                        <span class="val">&#8377;0.00</span>
                                    </p>
                                </div>
                                <div class="pro_attr_vals">
                                    <p>
                                        <span class="attr">Amount Payble</span>
                                        <span class="val">{{grand_total | currency:'&#8377;'}}</span>
                                    </p>
                                </div>
                                <!-- <p class="save_item">You will save 1200 rupees on this order...</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div  ng-if="cartItemsList.length == 0" class="cart-btn">
            <div align="middle">
                <i class="fa fa-cart-plus" style="font-size:150px;margin-top:40%;color:#ccc;"></i>
                <div style="padding-bottom:40px;">
                    <h3>
                        <span  >Your Tool Cart is Empty</span>
                    </h3>
                </div>
                <button class="button button-block" style="width:50%;" ui-sref="app.home">Start Shopping</button>
            </div>
        </div>
        <br>
        <br>
        <!--  category body end here  -->
    </ion-content>


    <ion-footer-bar ng-if="cartItemsList.length>0">
        <!--Footer Start here -->
        <div id="footer" class="button-bar" ng-repeat="item in cartItemsList">
            <a id="cart" class="button" ng-click="gotoCheckout(item)">Checkout</a>
            <!-- <a id="buynow" class="button">View Price Details</a> -->
        </div>
        <!--Footer End here -->
    </ion-footer-bar>

</ion-view>