<ion-view>

    <!--  category top header start here  -->
    <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
        <ion-nav-buttons side="left">
            <a class="button button-icon icon ion-close-circled" menu-toggle="left" ng-click="goback()"></a>
        </ion-nav-buttons>
        <ion-nav-title>
            <div class="h1 title">Cart</div>
        </ion-nav-title>
    </ion-nav-bar>
    <!--  category top header end here  -->

    <ion-content class="smt_background_image" style="padding:0;" id="cart_page">
        <div class="row pincode">
            <div class="col">
                <p class="location_det">
                    <span class="theme_clr">
                        <i class="icon ion-location"></i>
                    </span>
                    <span>Pincode</span>
                    <span class="theme_clr">521002</span>
                </p>
            </div>
            <div class="col">
                <button class="change_btn">Change</button>
            </div>
        </div>

        <!--  category body start here  -->
        <div class="category_body">
            <div class="category_cart_list">
                <div class="list1">
                    <div ng-repeat="item in cartItemsList">
                        <div class="row">
                            <div class="col">
                                <h1>{{item.productdescription}}</h1>
                                <div class="product_price">
                                    <span class="offer_price">{{item.offer_price | currency:'&#8377;'}}</span>
                                    <br> <span>Tax Amount:</span><span>35345</span>
                                    <br>
                                    <span>Sub total:</span><span>35345</span>
                                    <!-- <span class="offer_percentage">30.24%</span> -->
                                </div>
                                <!-- <p class="excl_gst">(Excluding-GST)</p> -->
                            </div>
                            <div class="col">
                                <img ng-src="{{item.image}}" width="90%">
                                <div class="amunt_auto_incre">
                                    <a id="decre" class="button">-</a>
                                    <input type="text" class="texting" ng-model="item.qty">
                                    <a id="incre" class="button">+</a>
                                </div>

                            </div>
                        </div>
                        <div class="row" id="cart_list_icons">
                            <div class="col">
                                <span>
                                    <i class="icon ion-heart"></i>
                                </span>
                                <span>Move to whishlist</span>
                            </div>
                            <div class="col">
                                <span>
                                    <i class="icon ion-trash-a"></i>
                                </span>
                                <span>Remove</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="pro_amnt_details">
                                <h2>Price Details</h2>
                                <div class="">
                                    <p>
                                        <span class="attr">Price (2 item)</span>
                                        <span class="val">10000.00</span>
                                    </p>
                                    <p>
                                        <span class="attr">Delivery</span>
                                        <span class="val">68.00</span>
                                    </p>
                                </div>
                                <div class="pro_attr_vals">
                                    <p>
                                        <span class="attr">Amount Payble</span>
                                        <span class="val">10068.00</span>
                                    </p>
                                </div>
                                <p class="save_item">You will save 1200 rupees on this order...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  category body end here  -->
    </ion-content>

    <ion-footer-bar>
        <!--Footer Start here -->
        <div id="footer" class="button-bar">
            <a id="cart" class="button">Checkout</a>
            <a id="buynow" class="button">View Price Details</a>
        </div>
        <!--Footer End here -->
    </ion-footer-bar>

</ion-view>