<ion-view>

    <!--  category top header start here  -->
    <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
        <ion-nav-buttons side="left">
            <span class="button button-icon icon ion-close-circled"  ng-click="goback()"></span>
        </ion-nav-buttons>
        <ion-nav-title>
            <div class="h1 title">{{categoryName}}</div>
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <a class="button button-icon icon ion-funnel" menu-toggle="right" ng-click="gotoFilter()"></a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <!--  category top header end here  -->

    <ion-content class="smt_background_image" style="padding:0;">

        <!--  category body start here  -->
        <div class="category_body">
            <div class="category_dropdown">
                <div class="list" style="float:left;">
                    <label> Show</label>
                    <select ng-model="noOfItems" ng-options="obj.value as obj.Name for obj in showNoOfItems" ng-change="getselectedNoProducts(noOfItems)">
                    </select>


                </div>
                <div class="list" style="float:right;">
                    <label> Sort</label>
                    <select ng-model="sortItem" ng-options="obj.value as obj.Name for obj in showSortItems" ng-change="getsortedProducts(sortItem)"></select>
                </div>
            </div>
            <div class="category_cart_list" ng-if="products!='' && products!=undefined">
                <div class="list1" ng-repeat="productsdata in products">
                    <a class="item item-thumbnail-left" class="product-img">
                        <img ng-src="{{productsdata.upload_photo  | image_jpg}}" alt="Image">
                        <h2 ng-click="getProductDetails(productsdata)">{{productsdata.upload_name}}</h2>
                        <div class="product_price" ng-repeat="prices in productsdata.prices">
                            <span class="offer_price">&#8377;{{prices.offer_price | number}}</span>
                            <span class="real_price">&#8377;{{prices.enduser_price | number}}</span>
                            <span class="offer_percentage">{{prices.percentage}} %</span>
                        </div>
                        <p class="excl_gst">(Excluding-GST)</p>
                        <div class="cat_cart_icons">
                            <span ng-click="addtoCart(productsdata)">
                                <i class="icon ion-android-cart"></i>
                            </span>
                            <span ng-click="addtoWishList(productsdata)">
                                <i class="icon ion-heart"></i>
                            </span>
                            <!-- <span>
                                <i class="icon ion-arrow-swap"></i>
                            </span> -->
                            <span>
                                <i class="icon ion-android-star"></i>
                            </span>
                        </div>
                    </a>
                </div>
            </div>

        </div>
        <div class="no_records m_top12" ng-if="products=='' || products==undefined">
                <span>No Records Found !!!</span>
            </div>
        <!--  category body end here  -->
    </ion-content>


</ion-view>