<ion-view>
    <ion-content class="smt_background_image" style="padding:0;">

        <!--  category top header start here  -->
        <div class="category_header">
            <div class="bar bar-header">
                <button class="button button-icon icon ion-close-circled"></button>
                <div class="h1 title">{{categoryName}}</div>
                <button class="button button-icon icon ion-funnel" ng-click="gotoFilter()"></button>
            </div>
        </div>
        <!--  category top header end here  -->

        <!--  category body start here  -->
        <div class="category_body">
            <div class="category_dropdown">
                <div class="list" style="float:left;">
                    <label> Show</label>
                    <select>
                        <option>Blue</option>
                        <option selected>Green</option>
                        <option>Red</option>
                    </select>
                </div>
                <div class="list" style="float:right;">
                    <label> Sort</label>
                    <select>
                        <option>Blue</option>
                        <option selected>Green</option>
                        <option>Red</option>
                    </select>
                </div>
            </div>
            <div class="category_cart_list">
                 <div class="list1"  ng-repeat="productsdata in products">
                    <a class="item item-thumbnail-left"  class="product-img" >
                        <img ng-src="{{productsdata.upload_photo}}" alt="Image">
                        <h2>{{productsdata.upload_name}}</h2>
                        <div class="product_price" ng-repeat="prices in productsdata.prices">
                            <span class="offer_price">{{prices.offer_price}}</span>
                            <span class="real_price">{{prices.enduser_price}}</span>
                            <span class="offer_percentage">{{prices.percentage}}%</span>
                        </div>
                        <p class="excl_gst">(Excluding-GST)</p>
                        <div class="cat_cart_icons">
                            <span><i class="icon ion-android-cart"></i></span>
                            <span><i class="icon ion-heart"></i></span>
                            <span><i class="icon ion-arrow-swap"></i></span>
                            <span><i class="icon ion-android-star"></i></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!--  category body end here  -->
    </ion-content>


</ion-view>