<!-- <ion-view>
  
    <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
        <ion-nav-buttons side="left">
            <a class="button button-icon icon ion-close-circled" menu-toggle="left" ng-click="goback()"></a>
        </ion-nav-buttons>
        <ion-nav-title>
            <div class="h1 title">Reset Password</div>
        </ion-nav-title>
    </ion-nav-bar>
  

    <ion-content class="smt_background_image" style="padding:0;">

        <div class="">
            <div class="row">
                <div class="col">
                    <form name="resetPswdForm">
                        <div class="list edit_labls">
                            <label class="item item-input item-floating-label">
                                <span class="input-label">New Password</span>
                                <div class="input-placeholder">
                                    <input type="text" name="new_password" required ng-model="resetPswdData.new_password">
                                    <div class="placeholder">
                                        New Password
                                        <span class="star">*</span>
                                    </div>
                                </div>

                            </label>
                            <span ng-show="resetPswdForm.$submitted || resetPswdForm.new_password.$touched || (resetPswdForm.new_password.$dirty && resetPswdForm.new_password.$invalid)">
                                <span class="error" ng-show="resetPswdForm.new_password.$error.required">Please enter Password.</span>
                            </span>
                            <label class="item item-input item-floating-label">
                                <span class="input-label">Confirm Password</span>
                                <div class="input-placeholder">
                                    <input type="text" name="confirm_password" required ng-model="resetPswdData.confirm_password">
                                    <div class="placeholder">
                                        Confirm Password
                                        <span class="star">*</span>
                                    </div>
                                </div>

                            </label>
                            <span ng-show="resetPswdForm.$submitted || resetPswdForm.confirm_password.$touched || (resetPswdForm.confirm_password.$dirty && resetPswdForm.confirm_password.$invalid)">
                                <span class="error" ng-show="resetPswdForm.confirm_password.$error.required">Please enter Password.</span>
                                <span class="error" ng-show="resetPswdData.new_password!=resetPswdData.confirm_password">Password must be match.</span>
                            </span>
                            <button class="button button-block all_btns" type="submit" id="login_btn" ng-disabled="resetPswdForm.$invalid" ng-click="resetPassword(resetPswdForm)">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </ion-content>
</ion-view> -->




<ion-view>

        <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
                <ion-nav-buttons side="left">
                    <a class="button button-icon icon ion-close-circled"  ng-click="goback()"></a>
                </ion-nav-buttons>
                <ion-nav-title>
                    <div class="h1 title">Reset Password</div>
                </ion-nav-title>
            </ion-nav-bar>


    <ion-content class="smt_background_image">

        <div class="smt_logo">
            <img src="img/Smt_Logo.png" width="90%">
        </div>


        <div class="forgetPswd_header_txt">
            <span>Change Password?</span>
            <p>If you have change your Password - reset it here</p>
        </div>

        <form name="forgetPswdForm">
            <div class="list login_labls">
                <label class="item item-input item-floating-label custom-login-label">
                    <i class="ion-ios-unlocked-outline placeholder-icon"></i>
                    <input type="password" placeholder="New Password" name="new_password" required ng-model="resetPswdData.new_password">
                </label>
                <span ng-show="resetPswdForm.$submitted || resetPswdForm.new_password.$touched || (resetPswdForm.new_password.$dirty && resetPswdForm.new_password.$invalid)">
                    <span class="error" ng-show="resetPswdForm.new_password.$error.required">Please enter Password.</span>
                </span>

                <label class="item item-input item-floating-label custom-login-label">
                    <i class="ion-ios-unlocked-outline placeholder-icon"></i>
                    <input type="password" placeholder="Confirm Password" name="confirm_password" required ng-model="resetPswdData.confirm_password">
                </label>
                <span ng-show="resetPswdForm.$submitted || resetPswdForm.confirm_password.$touched || (resetPswdForm.confirm_password.$dirty && resetPswdForm.confirm_password.$invalid)">
                    <span class="error" ng-show="resetPswdForm.confirm_password.$error.required">Please enter Password.</span>
                    <span class="error" ng-show="resetPswdData.new_password!=resetPswdData.confirm_password">Password must be match.</span>
                </span>

                <div class="forgot_pswd_txt">
                    <p>You will receive an email if your account exists in our database.</p>
                </div>
            </div>
            <button class="button button-block all_btns" type="submit" id="login_btn1" ng-disabled="resetPswdForm.$invalid" ng-click="resetPassword(resetPswdForm)">Reset</button>
        </form>

    </ion-content>
</ion-view>