<ion-view>

    <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
        <ion-nav-buttons side="left">
            <a class="button button-icon icon ion-close-circled" ng-click="goback()"></a>
        </ion-nav-buttons>
        <ion-nav-title>
            <div class="h1 title">Reset Password</div>
        </ion-nav-title>
    </ion-nav-bar>


    <ion-content class="smt_background_image" id="regForm">

        <div class="smt_logo">
            <img src="img/Smt_Logo.png" width="90%">
        </div>


        <div class="forgetPswd_header_txt">
            <span>Change Password?</span>
            <p>If you have change your Password - reset it here</p>
        </div>

        <form name="resetPswdForm">
            <div class="list login_labls">

                <div class="reg-label reg-label-border">
                    <div class="pull-left width-10">
                        <i class="ion-ios-unlocked-outline placeholder-icon"></i>
                    </div>
                    <label class="item item-input item-floating-label">
                        <div class="reg-input-placeholder">
                            <input type="password" name="new_password" required ng-model="resetPswdData.new_password" ng-minlength="6" maxlength="15">
                            <div class="reg-placeholder">
                                New Password
                                <span class="star">*</span>
                            </div>
                        </div>
                    </label>
                </div>


                <!-- <label class="item item-input item-floating-label custom-login-label">
                    <i class="ion-ios-unlocked-outline placeholder-icon"></i>
                    <input type="password" placeholder="New Password" name="new_password" required ng-model="resetPswdData.new_password" ng-minlength="6"
                        maxlength="15">
                </label> -->
                <span ng-show="resetPswdForm.$submitted || resetPswdForm.new_password.$touched || (resetPswdForm.new_password.$dirty && resetPswdForm.new_password.$invalid)">
                    <span class="error" ng-show="resetPswdForm.new_password.$error.required">Please enter Password.</span>
                    <span class="error" ng-show="resetPswdForm.new_password.$error.minlength">Should be atleast 6-15 characters.</span>
                </span>

                <div class="reg-label reg-label-border">
                    <div class="pull-left width-10">
                        <i class="ion-ios-unlocked-outline placeholder-icon"></i>
                    </div>
                    <label class="item item-input item-floating-label">
                        <div class="reg-input-placeholder">
                            <input type="password" name="confirm_password" required ng-model="resetPswdData.confirm_password" ng-minlength="6" maxlength="15">
                            <div class="reg-placeholder">
                                Confirm Password
                                <span class="star">*</span>
                            </div>
                        </div>
                    </label>
                </div>
                <!-- <label class="item item-input item-floating-label custom-login-label">
                    <i class="ion-ios-unlocked-outline placeholder-icon"></i>
                    <input type="password" placeholder="Confirm Password" name="confirm_password" required ng-model="resetPswdData.confirm_password"
                        ng-minlength="6" maxlength="15">
                </label> -->
                <span ng-show="resetPswdForm.$submitted || resetPswdForm.confirm_password.$touched || (resetPswdForm.confirm_password.$dirty && resetPswdForm.confirm_password.$invalid)">
                    <span class="error" ng-show="resetPswdForm.confirm_password.$error.required">Please enter Password.</span>
                    <span class="error" ng-show="resetPswdForm.confirm_password.$error.minlength">Should be atleast 6-15 characters.</span>
                    <span class="error" ng-show="resetPswdData.new_password!=resetPswdData.confirm_password">Password must be match.</span>
                </span>

                <div class="forgot_pswd_txt">
                    <!-- <p>You will receive an email if your account exists in our database.</p> -->
                </div>
            </div>
            <button class="button button-block all_btns" type="submit" id="login_btn1" ng-disabled="resetPswdForm.$invalid" ng-click="resetPassword(resetPswdForm)">Reset</button>
        </form>

    </ion-content>
</ion-view>