<ion-view>

    <!--  category top header start here  -->
    <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
        <ion-nav-buttons side="left">
            <!-- <a class="button button-icon icon ion-close-circled" ng-click="goback()"></a>
             -->
             <span>  <img src="img/close.svg" style="width:50%;margin-left: 10px;" ng-click="goback()"></span>
        </ion-nav-buttons>
        <ion-nav-title>
            <div class="h1 title">Coupons</div>
        </ion-nav-title>
    </ion-nav-bar>
    <!--  category top header end here  -->

    <ion-content class="smt_background_image" style="padding:0;">


        <!--  category body start here  -->
        <div class="row" ng-repeat="coupon in couponsList" ng-switch on="$index % 2" id="prod_border">
            <div class="col" ng-switch-when="0">
                <div class="card1111">
                    <img ng-src="{{coupon.imageurl | image_jpg}}" width="90%" style="height:135px;">

                </div>
                <div class="text-center">
                    <span class="theme_clr">{{coupon.coupon_code}}</span>
                </div>
            </div>

            <div class="col" ng-switch-when="0">
                <div class="card1111" ng-show="couponsList[$index+1]">
                    <img ng-src="{{couponsList[$index+1].imageurl | image_jpg}}" width="90%" style="height:135px;">

                </div>
                <div class="text-center">
                    <span class="theme_clr">{{couponsList[$index+1].coupon_code}}</span>
                </div>
            </div>
        </div>
        <div class="row" ng-if="couponsList.length==0">
            <div class="col no_records">
                <span>No Products Available !!!</span>
            </div>
        </div>

        <!--  category body end here  -->
    </ion-content>


</ion-view>