<ion-view>
    <!-- header part start here -->
    <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
        <ion-nav-buttons side="left">
            <a class="button button-icon icon ion-close-circled" ng-click="goback()"></a>
        </ion-nav-buttons>
        <ion-nav-title>
            <div class="h1 title">Profile</div>
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <a class="button button-icon icon ion-edit" menu-toggle="right" ng-click="editMobileNo()"></a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <!-- header part end here -->

    <ion-content class="smt_background_image" style="padding:0;">

        <div class="">
            <div class="row">
                <div class="col">
                    <form name="editForm">
                        <div class="list edit_labls">
                            <label class="item item-input item-floating-label">
                                <span class="input-label">First Name</span>
                                <div class="input-placeholder">
                                    <input type="text" name="new_password" readonly ng-model="editProfileData.first_name">

                                </div>

                            </label>

                            <label class="item item-input item-floating-label">
                                <span class="input-label">Last Name</span>
                                <div class="input-placeholder">
                                    <input type="text" name="new_password" readonly ng-model="editProfileData.last_name">

                                </div>

                            </label>

                            <label class="item item-input item-floating-label">
                                <span class="input-label">Email</span>
                                <div class="input-placeholder">
                                    <input type="text" name="confirm_password" readonly ng-model="editProfileData.email">

                                </div>

                            </label>
                            <label class="item item-input item-floating-label">
                                <span class="input-label">Mobile</span>


                                <div class="input-placeholder">

                                    <input type="text" ng-readonly="editMobile" name="mobile" required ng-model="editProfileData.user_mobile" ng-minlength="10"
                                        ng-pattern="/^[6-9][0-9]{9}$/" maxlength="10">
                                    <!-- <div class="placeholder">
                                        Mobile
                                        <span class="star">*</span>
                                    </div> -->
                                </div>

                            </label>
                            <span ng-show="editForm.$submitted || editForm.mobile.$touched || (editForm.mobile.$dirty && editForm.mobile.$invalid)">
                                <span class="error" ng-show="editForm.mobile.$error.required">Please enter Mobile Number.</span>
                                <span class="error" ng-show="editForm.mobile.$error.pattern">Please enter Valid Mobile Number.</span>
                                <!-- <span class="error" ng-show="registerForm.mobile.$error.minlength">Enter 10 digit Mobile Number</span> -->
                            </span>

                            <!-- <span ng-click="editMobileNo()">
                                <i class="icon ion-edit placeholder-icon f_right"></i>
                            </span> -->

                            <button ng-if="!editMobile" class="button button-block all_btns" type="submit" id="login_btn" ng-click="updateMobileNo()">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </ion-content>
</ion-view>