<ion-modal-view>

    <!-- header part start here -->
    <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
        <ion-nav-buttons side="left">
            <!-- <button class="button button-clear" ng-click="closeBillAddPopup()">
                <i class="icon ion-close-circled"></i>
            </button> -->
            <span>  <img src="img/close.svg" style="width:50%;margin-left: 10px;" ng-click="closeBillAddPopup()"></span>
        </ion-nav-buttons>
        <ion-nav-title>
            <div class="h1 title">Billing Address</div>
        </ion-nav-title>
        <!-- <ion-nav-buttons side="right">
         
                <button class="button button-icon"  ng-click="saveEditBillingAddress(editBillingAddForm,billingAddress)">Save</button>
           
        </ion-nav-buttons> -->
    </ion-nav-bar>
    <!-- header part end here -->

    <ion-content class="smt_background_image" style="padding:0;">
        <br>
        <br>
        <!-- <div class="row cur_loc" id="add_new_add_btn">
                <div class="col">
                    <button class="button button-block">
                        <i class="fa ion-android-locate"></i> Use my current location</button>
                    <p class="fill_addr">Top to auto file the address fields</p>
                </div>
            </div> -->

        <!-- addresses start here -->
        <div class="location_address">
            <div class="row">
                <div class="col">
                    <form name="editBillingAddForm">
                        <div class="list edit_labls">
                            <label class="item item-input item-floating-label">
                                <span class="input-label">City</span>
                                <div class="input-placeholder">
                                    <input type="text" name="city" ng-model="billingAddress.city" ng-minlength="3" ng-maxlength="20" maxlength="20" required
                                        ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,50}$/">
                                    <div class="placeholder">
                                        City
                                        <span class="star">*</span>
                                    </div>
                                </div>
                                <!-- <input type="text" placeholder="City" name="city"> -->
                            </label>
                            <span ng-show="editBillingAddForm.$submitted || editBillingAddForm.city.$touched || (editBillingAddForm.city.$dirty && editBillingAddForm.city.$invalid)">
                                <span class="error" ng-show="editBillingAddForm.city.$error.required">Please enter city.</span>
                                <span class="error" ng-show="editBillingAddForm.city.$error.pattern">Allows only Alphabets.</span>
                                <span class="error" ng-show="editBillingAddForm.city.$error.minlength">Should be atleast 3-20 characters.</span>
                                <span class="error" ng-show="editBillingAddForm.city.$error.maxlength">Should be atleast 3-20 characters.</span>
                            </span>
                            <label class="item item-input item-floating-label">
                                <span class="input-label">Locality, area of street</span>
                                <div class="input-placeholder">
                                    <input type="text" name="street_address" ng-model="billingAddress.street_address" ng-minlength="3" ng-maxlength="50" maxlength="50"
                                        required ng-pattern="/^[A-Za-z0-9_./#&-,: ]*[A-Za-z0-9_./#&-,: ]{1,50}$/">
                                    <div class="placeholder">
                                        Locality, area of street
                                        <span class="star">*</span>
                                    </div>
                                </div>
                                <!-- <input type="text" name="locality" placeholder="Locality, area of street"> -->
                            </label>
                            <span ng-show="editBillingAddForm.$submitted || editBillingAddForm.street_address.$touched || (editBillingAddForm.street_address.$dirty && editBillingAddForm.street_address.$invalid)">
                                <span class="error" ng-show="editBillingAddForm.street_address.$error.required">Please enter street.</span>
                                <span class="error" ng-show="editBillingAddForm.street_address.$error.minlength">Should be atleast 3-50 characters.</span>
                                <span class="error" ng-show="editBillingAddForm.street_address.$error.maxlength">Should be atleast 3-50 characters.</span>
                            </span>
                            <label class="item item-input item-floating-label">
                                <span class="input-label">Flat no., Building name</span>
                                <div class="input-placeholder">
                                    <input type="text" name="house_no" ng-model="billingAddress.house_no" ng-minlength="3" maxlength="50" required ng-pattern="/^[a-zA-Z0-9/ -]*$/">
                                    <div class="placeholder">
                                        Flat no., Building name
                                        <span class="star">*</span>
                                    </div>
                                </div>
                                <!-- <input type="text" placeholder="Flat no., Building name" name="flatno"> -->
                            </label>
                            <span ng-show="editBillingAddForm.$submitted || editBillingAddForm.house_no.$touched || (editBillingAddForm.house_no.$dirty && editBillingAddForm.house_no.$invalid)">
                                <span class="error" ng-show="editBillingAddForm.house_no.$error.required">Please enter House No.</span>
                                <span class="error" ng-show="editBillingAddForm.house_no.$error.minlength">Should be atleast 3-50 characters.</span>
                            </span>
                            <div class="row">
                                <div class="col" style="margin: 0 0 0 -10px;">
                                    <label class="item item-input item-floating-label">
                                        <span class="input-label">Pincode</span>
                                        <div class="input-placeholder">
                                            <input type="text" name="postal_code" ng-model="billingAddress.postal_code" required maxlength="6" ng-pattern="/^[1-9][0-9]{5}$/">
                                            <div class="placeholder">
                                                Pincode
                                                <span class="star">*</span>
                                            </div>
                                        </div>
                                        <!-- <input type="text" placeholder="Pincode" name="pincode"> -->
                                    </label>
                                    <span ng-show="editBillingAddForm.$submitted || editBillingAddForm.postal_code.$touched || (editBillingAddForm.postal_code.$dirty && editBillingAddForm.postal_code.$invalid)">
                                        <span class="error" ng-show="editBillingAddForm.postal_code.$error.required">Please enter Pincode.</span>
                                        <span class="error" ng-show="editBillingAddForm.postal_code.$error.pattern">Please enter Valid Pincode.</span>
                                    </span>
                                </div>
                                <div class="col" style="margin: 0 -10px 0 0;">
                                    <label class="item item-input item-floating-label">
                                        <span class="input-label">State</span>
                                        <div class="input-placeholder">
                                            <input type="text" name="state" ng-model="billingAddress.state" ng-minlength="3" maxlength="20" required
                                                ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,20}$/">
                                            <div class="placeholder">
                                                State
                                                <span class="star">*</span>
                                            </div>
                                        </div>
                                        <!-- <input type="text" placeholder="State" name="state"> -->
                                    </label>
                                    <span ng-show="editBillingAddForm.$submitted || editBillingAddForm.state.$touched || (editBillingAddForm.state.$dirty && editBillingAddForm.state.$invalid)">
                                        <span class="error" ng-show="editBillingAddForm.state.$error.required">Please enter State.</span>
                                        <span class="error" ng-show="editBillingAddForm.state.$error.pattern">Allows only Alphabets.</span>
                                        <span class="error" ng-show="editBillingAddForm.state.$error.minlength">Should be atleast 3-20 characters.</span>
                                    </span>
                                </div>
                            </div>
                            <label class="item item-input item-floating-label">
                                <span class="input-label">Country</span>
                                <div class="input-placeholder">
                                    <input type="text" name="country" ng-model="billingAddress.country" ng-minlength="3"  maxlength="15" required
                                        ng-pattern="/^[a-zA-Z0-9/ -]*$/">
                                    <div class="placeholder">
                                        Country
                                        <span class="star">*</span>
                                    </div>
                                </div>
                                <!-- <input type="text" placeholder="Flat no., Building name" name="flatno"> -->
                            </label>
                            <span ng-show="editBillingAddForm.$submitted || editBillingAddForm.country.$touched || (editBillingAddForm.country.$dirty && editBillingAddForm.country.$invalid)">
                                <span class="error" ng-show="editBillingAddForm.country.$error.required">Please enter Country.</span>
                                <span class="error" ng-show="editBillingAddForm.country.$error.minlength">Should be atleast 3-15 characters.</span>
                            </span>
                            <!-- <label class="item item-input item-floating-label">
                                    <div class="input-placeholder">
                                        <input type="text" required ng-model="billingAddress.city">
                                        <div class="placeholder">
                                            Landmark(Optional)
                                         </div>
                                    </div>
                                </label> -->
                            <label class="item item-input item-floating-label">
                                <span class="input-label">Name</span>
                                <div class="input-placeholder">
                                    <input type="text" name="firstname" ng-model="billingAddress.firstname" ng-minlength="3" ng-maxlength="50" maxlength="50"
                                        required ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,50}$/">
                                    <div class="placeholder">
                                        Name
                                        <span class="star">*</span>
                                    </div>
                                </div>
                                <!-- <input type="text" placeholder="Name" name="name"> -->
                            </label>
                            <span ng-show="editBillingAddForm.$submitted || editBillingAddForm.firstname.$touched || (editBillingAddForm.firstname.$dirty && editBillingAddForm.firstname.$invalid)">
                                <span class="error" ng-show="editBillingAddForm.firstname.$error.required">Please enter First Name.</span>
                                <span class="error" ng-show="editBillingAddForm.firstname.$error.pattern">Allows only Alphabets.</span>
                                <span class="error" ng-show="editBillingAddForm.firstname.$error.minlength">Should be atleast 3-50 characters.</span>
                                <span class="error" ng-show="editBillingAddForm.firstname.$error.maxlength">Should be atleast 3-50 characters.</span>
                            </span>

                            <label class="item item-input item-floating-label">
                                <span class="input-label">Name</span>
                                <div class="input-placeholder">
                                    <input type="text" name="lastname" ng-model="billingAddress.lastname" ng-minlength="3" ng-maxlength="50" maxlength="50" required
                                        ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,50}$/">
                                    <div class="placeholder">
                                        Name
                                        <span class="star">*</span>
                                    </div>
                                </div>
                                <!-- <input type="text" placeholder="Name" name="name"> -->
                            </label>
                            <span ng-show="editBillingAddForm.$submitted || editBillingAddForm.lastname.$touched || (editBillingAddForm.lastname.$dirty && editBillingAddForm.lastname.$invalid)">
                                <span class="error" ng-show="editBillingAddForm.lastname.$error.required">Please enter First Name.</span>
                                <span class="error" ng-show="editBillingAddForm.lastname.$error.pattern">Allows only Alphabets.</span>
                                <span class="error" ng-show="editBillingAddForm.lastname.$error.minlength">Should be atleast 3-50 characters.</span>
                                <span class="error" ng-show="editBillingAddForm.lastname.$error.maxlength">Should be atleast 3-50 characters.</span>
                            </span>

                            <label class="item item-input item-floating-label">
                                <span class="input-label">Mobile Number</span>
                                <div class="input-placeholder">
                                    <input type="text" name="mobile" ng-model="billingAddress.mobile" ng-minlength="10" ng-maxlength="10" maxlength="10" required
                                        ng-pattern="/^[7-9][0-9]{9}$/">
                                    <div class="placeholder">
                                        Mobile Number
                                        <span class="star">*</span>
                                    </div>
                                </div>
                                <!-- <input type="text" placeholder="Mobile Number" name="mobile"> -->
                            </label>
                            <span ng-show="editBillingAddForm.$submitted || editBillingAddForm.mobile.$touched || (editBillingAddForm.mobile.$dirty && editBillingAddForm.mobile.$invalid)">
                                <span class="error" ng-show="editBillingAddForm.mobile.$error.required">Please enter Mobile Number.</span>
                                <span class="error" ng-show="editBillingAddForm.mobile.$error.pattern">Please enter Valid Mobile Number.</span>
                                <!-- <span class="error" ng-show="editBillingAddForm.mobile.$error.minlength">Enter 10 digit Mobile Number</span> -->
                            </span>
                            <label class="item item-input item-floating-label">
                                <span class="input-label">Alt Mobile Number</span>
                                <div class="input-placeholder">
                                    <input type="text" name="alt_mobile" ng-model="billingAddress.alt_mobile" name="alt_mobile" ng-minlength="10" ng-maxlength="10"
                                        maxlength="10" required ng-pattern="/^[7-9][0-9]{9}$/">
                                    <div class="placeholder">
                                        Alt Mobile Number
                                        <!-- <span class="star">*</span> -->
                                    </div>
                                </div>
                                <!-- <input type="text" placeholder="Alt Mobile Number(Optional)" name="altMobile"> -->
                            </label>
                            <span ng-show="editBillingAddForm.$submitted || editBillingAddForm.alt_mobile.$touched || (editBillingAddForm.alt_mobile.$dirty && editBillingAddForm.alt_mobile.$invalid)">
                                <span class="error" ng-show="editBillingAddForm.alt_mobile.$error.required">Please enter Mobile Number.</span>
                                <span class="error" ng-show="editBillingAddForm.alt_mobile.$error.pattern">Please enter Valid Mobile Number.</span>
                                <!-- <span class="error" ng-show="editBillingAddForm.mobile.$error.minlength">Enter 10 digit Mobile Number</span> -->
                            </span>



                            <div class="row" id="delivery_btn">
                                <div class="col">

                                    <button class="button button-block" ng-disabled="editBillingAddForm.$invalid" ng-click="saveEditBillingAddress(billingAddress)">Save</button>
                                </div>
                            </div>
                            <!-- <button class="button button-icon"  ng-click="saveEditBillingAddress(editBillingAddForm,billingAddress)">Save</button> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- addresses end here -->

        <!-- <div class="row" id="address_type">
                <div class="col">
                    <h3>Address Type</h3>
                    <form class="radiobutns">
                        <input type="radio" name="gender" value="home"> Home (All day delivery)
                        <br>
                        <input type="radio" name="gender" value="work"> Work (Delivery between 10am - 5pm)
                    </form>
                </div>
            </div> -->



    </ion-content>
</ion-modal-view>