<ion-modal-view>
    <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-clear" ng-click="closePopup()">
                <i class="icon ion-close-circled"></i>
            </button>

        </ion-nav-buttons>
        <ion-nav-title>
            <div class="h1 title">{{categoryName}}</div>
        </ion-nav-title>

        <ion-nav-buttons side="right">
            <button class="button button-icon">Apply</button>

        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="smt_background_image" style="padding:0;">
        <br>
        <br>

        <ion-list>
            <div ng-repeat="category in categoryList">
                <div class="filter_head_options">
                    <ion-item ng-click="toggleCategory(category)" ng-class="{active: isGroupShown(category)}">
                        <i class="icon {{categoryList[0].icon}}"></i>
                        <span>{{category.name}}</span>
                        <i class="downarrow icon ion-chevron-down icon-accessory" style="float:right;"></i>
                    </ion-item>
                </div>

                <ion-list class="item-accordion item-text-wrap" ng-repeat="item in category.list" ng-show="isGroupShown(category)" href="#/app/{{item.context}}"
                    id="filter_checkOptions">
                    <!-- <span>{{item.title}}</span> -->
                    <ion-checkbox>{{item}}</ion-checkbox>
                </ion-list>
            </div>
        </ion-list>
    </ion-content>
</ion-modal-view>

<!-- <ion-list>
    <ion-checkbox>Red</ion-checkbox>
    <ion-checkbox>Yellow</ion-checkbox>
    <ion-checkbox>Pink</ion-checkbox>
  </ion-list> -->