<ion-modal-view>
    <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-clear" ng-click="closePopup()">
                <i class="icon ion-close-circled"></i>
            </button>

        </ion-nav-buttons>
        <ion-nav-title>
            <div class="h1 title">{{categoryName}}</div>
        </ion-nav-title>

        <ion-nav-buttons side="right">
            <button class="button button-icon">Apply</button>

        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="smt_background_image" style="padding:0;">
        <br>
        <br>

        <!-- <ion-list>
            <div ng-repeat="category in categoryList">
                <div class="filter_head_options">
                    <ion-item ng-click="toggleCategory(category)" ng-class="{active: isGroupShown(category)}">
                        <span>{{category.name}}</span>
                        <i class="downarrow icon ion-chevron-down icon-accessory" style="float:right;"></i>
                    </ion-item>
                </div>

                <ion-list class="item-accordion item-text-wrap" ng-repeat="item in category.list" ng-show="isGroupShown(category)" id="filter_checkOptions">
                   
                    <ion-checkbox>{{item}}</ion-checkbox>
                </ion-list>
            </div>
        </ion-list> -->



        <ion-list>

            <div class="filter_head_options" ng-click="categories=!categories">
                <ion-item>
                    <span>Sub Category</span>
                    <i ng-if="!categories" class="downarrow icon ion-chevron-down icon-accessory" style="float:right;"></i>
                    <i ng-if="categories" class="downarrow icon ion-chevron-up icon-accessory" style="float:right;"></i>
                </ion-item>
            </div>

            <ion-list class="item-accordion item-text-wrap" ng-repeat="subCatigory in subcategoriesList" id="filter_checkOptions" ng-if="categories">

                <ion-checkbox ng-click="getRange(subCatigory)" ng-model="subcategory.checked">{{subCatigory}}</ion-checkbox>
            </ion-list>

            <div class="filter_head_options" ng-click="brands=!brands">
                <ion-item>
                    <span>Brand</span>
                    <i ng-if="!brands" class="downarrow icon ion-chevron-down icon-accessory" style="float:right;"></i>
                    <i ng-if="brands" class="downarrow icon ion-chevron-up icon-accessory" style="float:right;"></i>
                </ion-item>
            </div>

            <ion-list class="item-accordion item-text-wrap" ng-repeat="brand in brandsList" id="filter_checkOptions" ng-if="brands">

                <ion-checkbox  ng-model="getCategoryProductData.brand">{{brand}}</ion-checkbox>
            </ion-list>
        </ion-list>


        <div class="list">
            <div class="item range range-positive">
                <i class="icon ion-ios-sunny-outline"></i>
                <input type="range" name="volume" min="{{minPrice}}" ng-model="getCategoryProductData.range" max="{{maxPrice}}" value="{{minPrice}}" >
                <i class="icon ion-ios-sunny"></i>
            </div>
        </div>

    </ion-content>
</ion-modal-view>

<!-- <ion-list>
    <ion-checkbox>Red</ion-checkbox>
    <ion-checkbox>Yellow</ion-checkbox>
    <ion-checkbox>Pink</ion-checkbox>
  </ion-list> -->