<ion-view>
    <ion-content class="smt_background_image" style="padding:0;">
        <div class="bar bar-header item-input-inset">
            <button class="button button-icon icon ion-android-arrow-back" ng-click="goback()">
            </button>
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" style="color:black;" placeholder="Search here..." ng-model="SearchData.searchKey" ng-change="getSeachProducts(SearchData.searchKey)">
            </label>
            <button class="button button-clear" ng-if="search" id="search-clear" ng-click="clearSearch()">
                Cancel
            </button>
        </div>
        <div>
            <div ng-if="searchDiv">
                <div class="">
                    <ul class="search_back">
                        <li class="item theme_clr" ng-repeat="product in searchedMoreProducts" ng-click="getProductDetails(product)">
                            {{product.upload_name}}
                        </li>
                        <li class="item theme_clr" ng-if="searchedMoreProducts.length>0">
                            <span ng-click="getSearchtDetails(searchKey)" class="search-view-more">view more</span>
                        </li>
                        <li class="item theme_clr" ng-if="recommendedList.length>0">
                            <b>Recommended</b>
                        </li>
                        <li class="item theme_clr" ng-repeat="recommended in recommendedList" ng-click="gotoCategoryPage(recommended.upload_category,'category')">
                            {{recommended.upload_category}}
                        </li>

                    </ul>

                </div>
            </div>

            <div class="col123" ng-if="searchedMoreProducts.length==0">
                <ul class="search_back">
                    <li class="item">
                        <span>No Search Results Found !!!</span>
                    </li>
                </ul>

            </div>
        </div>
    </ion-content>
</ion-view>