<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <!-- <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <!-- <ion-nav-title>
				<img width="30%" src="img/smtlogo.png">
			</ion-nav-title> 
    </ion-nav-bar> -->
    <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">

      <ion-nav-buttons side="left">
        <a class="button button-icon button-clear ion-navicon" menu-toggle="left"></a>
      </ion-nav-buttons>

      <ion-nav-title>
        <img ng-if="!search" width="100px" style="padding-top:10px" src="img/smtlogo.png">
        <div class="bar bar-header item-input-inset" ng-if="search">
          <label class="item-input-wrapper">
            <!-- <i class="icon ion-ios-search placeholder-icon"></i> -->
            <input type="search" style="color:black;" placeholder="Search here..." ng-model="searchKey" ng-change="getSeachProducts(searchKey)">
          </label>
        </div>
      </ion-nav-title>

      <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-ios-search-strong" ng-click="search=!search"></button>
        <!-- <input type="text" class="form-control" ng-change="isTextChange()" ng-model="text" /> -->
        <button class="button button-icon icon ion-ios-cart"></button>
        <ion-badge ng-if="CartItemsCount>0" class="cart_badge">{{CartItemsCount}}</ion-badge>
      </ion-nav-buttons>

    </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="smt_background_image smt_sideMenu">
    <ion-header-bar class="bar-stable">
      <!-- <h1 class="title">Left</h1> -->
      <div class="menu_user_photo">
        <img src="img/smtlogo.png">
      </div>
      <div class="login_user_details">
        <h1>{{user_name}}</h1>
        <p>{{mobileNo}}</p>
      </div>
    </ion-header-bar>
    <ion-content class="scroll-content-menu">
      <ion-list>
        <!-- <ion-item class="white-bgclr">
          <div class="profile-name">
            <span>User Name</span>
            <i class="ion-edit f-right"></i>
          </div>
        </ion-item> -->
        <ion-item menu-close href="" ng-click="gotoRespectivePage('home')">
          <i class="icon ion-ios-home placeholder-icon"></i> Home
        </ion-item>
        <ion-item menu-close href="" ng-click="gotoRespectivePage('login')">
          <i class="icon ion-ios-person-outline placeholder-icon"></i> Login
        </ion-item>
        <ion-item menu-close href="" ng-click="gotoRespectivePage('myorders')">
          <i class="icon ion-ios-cart-outline placeholder-icon"></i> My Orders
          <span ng-if="ordersCount > 0" class="w3-badge">{{ordersCount}}</span>
        </ion-item>
        <ion-item menu-close href="" ng-click="gotoRespectivePage('profile')">
          <i class="icon ion-ios-person-outline placeholder-icon"></i> Profile
        </ion-item>
        <ion-item menu-close href="" ng-click="gotoRespectivePage('wishlist')">
          <i class="icon ion-ios-heart-outline placeholder-icon"></i> My Wish List
          <span ng-if="wishListItemsCount>0" class="w3-badge">{{wishListItemsCount}}</span>
        </ion-item>
        <ion-item menu-close href="" ng-click="gotoRespectivePage('cartPage')">
          <i class="icon ion-ios-cart-outline placeholder-icon"></i> Tool Cart
          <span ng-if="CartItemsCount > 0" class="w3-badge">{{CartItemsCount}}</span>
        </ion-item>
        <ion-item menu-close href="" ng-click="gotoRespectivePage('chngpaswd')">
          <i class="icon ion-ios-unlocked-outline placeholder-icon"></i> Change Password
        </ion-item>
        <!-- <ion-item menu-close href="" ng-click="gotoRespectivePage('chngadd')">
          <i class="icon ion-ios-location-outline placeholder-icon"></i> Change Address
        </ion-item> -->
        <ion-item menu-close href="" ng-click="gotoRespectivePage('policy')">
          <i class="icon ion-ios-toggle-outline placeholder-icon"></i> Return Policy
        </ion-item>
        <ion-item menu-close href="" ng-click="gotoRespectivePage('aboutus')">
          <i class="icon ion-ios-people-outline placeholder-icon"></i> About Us
        </ion-item>
        <ion-item menu-close href="" ng-click="gotoRespectivePage('faq')">
          <i class="icon ion-help placeholder-icon"></i> FAQ
        </ion-item>

        <div class="m_top12" ng-click="gotoRespectivePage('logout')">
          <button class="button button-block all_btns" id="menu_login_btn">LOGOUT</button>
        </div>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>