<ion-side-menus enable-menu-with-back-views="false" ng-class="search==false?'headersearchenable':''">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">

      <ion-nav-buttons side="left">
        <a class="button button-icon button-clear ion-navicon" menu-toggle="left"></a>
      </ion-nav-buttons>

      <!-- <ion-nav-title>
        <img ng-if="!search" width="100px" style="padding-top:8px" src="img/smtlogo.png">
        <div class="bar bar-header item-input-inset" ng-if="search">
          <label class="item-input-wrapper">
          
            <input type="search" style="color:black;" placeholder="Search here..." ng-model="searchKey" ng-change="getSeachProducts(searchKey)">
          </label>
        </div>
      </ion-nav-title> -->
      <ion-nav-title>
        <img ng-if="!search" width="100px" style="padding-top:8px" src="img/smtlogo.png">
      </ion-nav-title>

      <ion-nav-buttons side="right">
        <!-- <div ng-click="search=!search">
          <button class="button button-icon icon ion-ios-search-strong" ng-click="changeval(search)"></button>
        </div> -->
        <button class="button button-icon icon ion-ios-search-strong" ui-sref="headerSearchbar"></button>

        <button class="button button-icon icon ion-ios-cart" ng-click="gotoCartPage()"></button>
        <ion-badge ng-if="CartItemsCount>0" class="cart_badge">{{CartItemsCount}}</ion-badge>
      </ion-nav-buttons>

    </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="smt_background_image smt_sideMenu">
    <ion-header-bar class="bar-stable">
      <!-- <h1 class="title">Left</h1> -->
      <div class="menu_user_photo">
        <!-- <img src="img/smtlogo.png"> -->
        <img src="img/user.png">
      </div>
      <div class="login_user_details">
        <h1>{{user_name}}</h1>
        <p>{{mobileNo}}</p>
      </div>
    </ion-header-bar>
    <ion-content class="scroll-content-menu">

      <ion-list id="sideMenu">
        <div class="padding_top8">
        <a class="item item-icon-left menu-close" ng-click="gotoRespectivePage('home')">
          <i class="icon ion-ios-home menu-left-icon"></i>
          Home
        </a>
        <a class="item item-icon-left menu-close" ng-click="gotoRespectivePage('myorders')">
          <i class="icon ion-ios-cart-outline menu-left-icon"></i> My Orders
          <span ng-if="ordersCount > 0" class="w3-badge">{{ordersCount}}</span>
        </a>
        <a class="item item-icon-left menu-close" ng-click="gotoRespectivePage('profile')">
          <i class="icon ion-ios-person-outline menu-left-icon"></i>
          Profile
        </a>
        <a class="item item-icon-left menu-close" ng-click="gotoRespectivePage('wishlist')">
          <i class="icon ion-ios-heart-outline menu-left-icon"></i> My Wish List
          <span ng-if="wishListItemsCount>0" class="w3-badge">{{wishListItemsCount}}</span>
        </a>
        <a class="item item-icon-left menu-close" ng-click="gotoRespectivePage('cartPage')">
          <i class="icon ion-ios-cart-outline menu-left-icon"></i>Tool Cart
          <span ng-if="CartItemsCount > 0" class="w3-badge">{{CartItemsCount}}</span>
        </a>
        <a class="item item-icon-left" ng-click="gotoRespectivePage('chngpaswd')">
          <i class="icon ion-ios-unlocked-outline menu-left-icon"></i>
          Change Password
        </a>
        <div ng-click="showSubmenu=!showSubmenu">
          <a class="item">
            <span class="item-icon-left">Categories
              <i class="icon ion-settings menu-left-icon"></i>
            </span>
            <i ng-if="!showSubmenu" class="icon ion-ios-arrow-up menu-left-icon f_right"></i>
            <i ng-if="showSubmenu" class="icon ion-ios-arrow-down menu-left-icon f_right"></i>
          </a>
        </div>

        <div ng-if="showSubmenu" ng-repeat="category in categoryMenu">
          <a class="item item-icon-left menu-close" ng-click="gotoCategoryPage(category.categoryname,'category')">
            {{category.categoryname}}</a>
        </div>

        <a class="item item-icon-left menu-close" ng-click="gotoRespectivePage('policy')">
          <i class="icon ion-ios-toggle-outline menu-left-icon"></i>
          Return Policy
        </a>
        <a class="item item-icon-left menu-close" ng-click="gotoRespectivePage('aboutus')">
          <i class="icon ion-ios-people-outline menu-left-icon"></i>
          About Us
        </a>
        <a class="item item-icon-left menu-close" ng-click="gotoRespectivePage('faq')">
          <i class="icon ion-help menu-left-icon"></i>
          FAQ
        </a>
        <div class="m_top12  menu-close" ng-click="gotoRespectivePage('logout')">
          <button class="button button-block all_btns" id="menu_login_btn">LOGOUT</button>
        </div>
      </div>

      </ion-list>



    </ion-content>
  </ion-side-menu>
</ion-side-menus>