<ion-view>

    <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
        <ion-nav-buttons side="left">
            <!-- <a class="button button-icon icon ion-close-circled"  ng-click="goback()"></a> -->
            <span>  <img src="img/close.svg" style="width:50%;margin-left: 10px;" ng-click="goback()"></span>
        </ion-nav-buttons>
        <ion-nav-title>
            <div class="h1 title">My Orders</div>
        </ion-nav-title>
    </ion-nav-bar>

  <ion-content class="smt_background_image padding5">
    <table style="width:100%" class="order_segment">
      <thead>
        <tr>
          <th ng-class="{seg_select : Pendingactive}" ng-click="getOrdersList('pending')">Pending Orders</th>
          <th ng-class="{seg_select : Invoiceactive}" ng-click="getOrdersList('invoice')">Invoice Orders</th>
          <th ng-class="{seg_select : Cancelactive}" ng-click="getOrdersList('cancel')">Cancel Orders</th>
        </tr>
      </thead>
    </table>

    <table style="width:100%" class="nrows m_top_5" ng-if="Pendingactive && (pendingOrderList.length > 0)">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Order No</th>
          <th>Qty</th>
          <th>Amount</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="orderData in pendingOrderList">
          <td ng-bind="$index+1"></td>
          <td ng-bind="orderData.orderid"></td>
          <td ng-bind="orderData.totalquantity"></td>
          <td class="txt_right" ng-bind="'&#8377'+orderData.totalamount"></td>
          <td ng-click="gotoOrderDetails(orderData.orderid)">
            <a href="">
              <i class="fa fa-eye" aria-hidden="true" style="padding-right:5px;color:#444;"></i>View</a>
          </td>
        </tr>
      </tbody>
    </table>

    <table style="width:100%" class="nrows m_top_5" ng-if="Invoiceactive && invoiceOrderList.length>0">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Order No</th>
          <th>Qty</th>
          <th>Amount</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="orderData in invoiceOrderList">
          <td ng-bind="$index+1"></td>
          <td ng-bind="orderData.orderid"></td>
          <td ng-bind="orderData.totalquantity"></td>
          <td class="txt_right" ng-bind="'&#8377'+orderData.totalamount"></td>
          <td ng-click="gotoOrderDetails(orderData.orderid)">
            <a href="">
              <i class="fa fa-eye" aria-hidden="true" style="padding-right:5px;color:#444;"></i>View</a>
          </td>
        </tr>
      </tbody>
    </table>


    <table style="width:100%" class="nrows m_top_5" ng-if="Cancelactive && cancelOrderList.length>0">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Order No</th>
          <th>Qty</th>
          <th>Amount</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody ng-repeat="cancelOrderData in cancelOrderList">
        <tr ng-if="cancelOrderData.status == 'Cancel'">
          <td ng-bind="$index+1"></td>
          <td ng-bind="cancelOrderData.orderid"></td>
          <td ng-bind="cancelOrderData.totalquantity"></td>
          <td class="txt_right" ng-bind="'&#8377'+cancelOrderData.totalamount"></td>
          <td ng-click="gotoOrderDetails(cancelOrderData.orderid)">
            <a href="">
              <i class="fa fa-eye" aria-hidden="true" style="padding-right:5px;color:#444;"></i>View</a>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="no_records" ng-if="Pendingactive && pendingOrderList.length == 0">
      <span>No Records Found !!!</span>
    </div>
    <div class="no_records" ng-if="Invoiceactive && invoiceOrderList.length == 0">
      <span>No Records Found !!!</span>
    </div>
    <div class="no_records" ng-if="Cancelactive && cancelOrderList.length == 0">
      <span>No Records Found !!!</span>
    </div>


  </ion-content>
</ion-view>