<ion-modal-view>
    <ion-header-bar class="bar bar-assertive">
        <h1 class="title">Order # : {{orderId}}</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closePopup()">
                <i class="icon ion-close-circled"></i>
            </button>
        </div>
    </ion-header-bar>
    <ion-content class="smt_background_image padding5">

        <table>
            <tr ng-if="status!=''">
                <td class="theme_clr">
                    <b>Order Status</b>
                </td>
                <td ng-bind="status"></td>
            </tr>
            <tr ng-if="shippingtype!=''">
                <td class="theme_clr">
                    <b>Shipping Method</b>
                </td>
                <td ng-bind="shippingtype"></td>
            </tr>
            <tr ng-if="shippingtype=='Pickup'">
                <td class="theme_clr">
                    <b>Shop Name</b>
                </td>
                <td ng-bind="shopName"></td>
            </tr>
            <tr ng-if="shippingtype=='Pickup'">
                <td class="theme_clr">
                    <b>Pickup Address</b>
                </td>
                <td ng-bind="pickupAddress"></td>
            </tr>
            <tr ng-if="paymenttype!=''">
                <td class="theme_clr">
                    <b>Payment Method</b>
                </td>
                <td ng-bind="paymenttype"></td>
            </tr>
            
        </table>


        <div class="row m_top_5" ng-if="shippingtype == 'Delivery'">
            <div class="col card1" ng-if="shippingaddress!='' && shippingaddress!=undefined">
                <label class="theme_clr">
                    <b>Shipping Address</b>
                </label>
                <p>{{shippingaddress.firstname}}&nbsp;&nbsp;{{shippingaddress.lastname}}</p>
                <p>{{shippingaddress.mobile}}</p>
                <p>{{shippingaddress.house_no}},&nbsp;&nbsp;{{shippingaddress.street_address}}</p>
                <p>{{shippingaddress.city}}</p>
                <p>{{shippingaddress.postal_code}}</p>
                <p>{{shippingaddress.state}}</p>
                <p>{{shippingaddress.country}}</p>
            </div>
            <div class="col card2" ng-if="billingaddress!='' && shippingaddress!=undefined">
                <label class="theme_clr">
                    <b>Billing Address</b>
                </label>
                <p>{{billingaddress.firstname}}&nbsp;&nbsp;{{billingaddress.lastname}}</p>
                <p>{{billingaddress.mobile}}</p>
                <p>{{billingaddress.house_no}},&nbsp;&nbsp;{{billingaddress.street_address}}</p>
                <p>{{billingaddress.city}}</p>
                <p>{{billingaddress.postal_code}}</p>
                <p>{{billingaddress.state}}</p>
                <p>{{billingaddress.country}}</p>
            </div>
        </div>

        <!-- <table style="width:100%" ng-if="orderDetails.length>0" class="order_details_table m_top_5">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Unit Price</th>
                    <th>Tax (%)</th>
                    <th>Tax Amount</th>
                    <th>Qty</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="data in orderDetails">
                    <td ng-bind="data.productdescription"></td>
                    <td class="txt_right" ng-bind="'&#8377'+data.unitprice"></td>
                    <td ng-bind="data.tax"></td>
                    <td class="txt_right" ng-bind="'&#8377'+data.tax_amount"></td>
                    <td ng-bind="data.qty"></td>
                    <td class="txt_right" ng-bind="'&#8377'+data.sub_total"></td>
                </tr>
                <tfoot class="tfoot_allign_right">
                    <tr>
                       
                        <td colspan="5">Shipping Charges</td>
                        <td>₹0</td>

                    </tr>
                    <tr>
                       
                        <td colspan="5">Coupon Amount</td>
                        <td ng-bind="'&#8377'+discountAmt"></td>

                    </tr>
                    <tr>
                       
                        <td colspan="5">Grand Total (Incl.Tax) </td>
                        <td ng-bind="'&#8377'+(grandTotal-discountAmt)"></td>

                    </tr>
                </tfoot>
            </tbody>

        </table> -->
        <h3>Order Details</h3>

        <div ng-repeat="data in orderDetails">
            <div class="row">
                <div class="col">
                    <h5 class="theme_clr">{{data.productdescription}}</h5>
                    <span class="pro_attr">Unit Price :</span>
                    <span class="pro_val">{{data.unitprice | currency:'&#8377;'}}</span>
                    <br>
                    <span class="pro_attr">Tax (%) :</span>
                    <span class="pro_val">{{data.tax}}</span>
                    <br>
                    <span class="pro_attr">Tax Amount:</span>
                    <span class="pro_val">{{data.tax_amount | currency:'&#8377;'}}</span>
                    <br>
                    <span class="pro_attr">Quantity:</span>
                    <span class="pro_val">{{data.qty}}</span>
                    <br>
                    <span class="pro_attr">Sub Total:</span>
                    <span class="pro_val">{{data.sub_total | currency:'&#8377;'}}</span>
                    <!-- <span class="offer_percentage">30.24%</span> -->

                </div>

            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="pro_amnt_details">
                    <h2>Price Details</h2>
                    <div class="">

                        <p>
                            <span class="attr">Shipping Charges</span>
                            <span class="val">&#8377;0.00</span>
                        </p>
                        <p>
                            <span class="attr">Coupon Amount</span>
                            <span class="val">{{discountAmt | currency:'&#8377;'}}</span>
                        </p>
                        <p>
                            <span class="attr">Grand Total (
                                <span>{{orderDetails.length}}</span> items)</span>
                            <span class="val">{{grandTotal-discountAmt | currency:'&#8377;'}}</span>
                        </p>
                    </div>

                    <!-- <p class="save_item">You will save 1200 rupees on this order...</p> -->
                </div>
            </div>
        </div>


        <div class="f_right m_top_5" ng-if="status == 'Accepted'">
            <button class="button all_btns" type="submit" ng-click="cancelOrder(orderId)">Cancel Order</button>
        </div>
    </ion-content>
</ion-modal-view>