<ion-view>
        <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
                <ion-nav-buttons side="left">
                    <span class="button button-icon icon ion-close-circled" menu-toggle="left" ng-click="goback()"></span>
                </ion-nav-buttons>
                <ion-nav-title>
                    <div class="h1 title">{{categoryName}}</div>
                </ion-nav-title>
                <ion-nav-buttons side="right">
                    <a class="button button-icon icon ion-funnel" menu-toggle="right" ng-click="gotoFilter()"></a>
                </ion-nav-buttons>
            </ion-nav-bar>
            <ion-content>
 <div class="details_container packerdivtopheight">

        <div class="submit_right">

           <!--***************************--> 

           <div class="submit_right">

              <div class="addporperty_from" align="middle">
                   <!-- <div class="edit_information_page_block"  style="width:60%;margin-top:10px;"> -->
                 <form id="msform" ng-submit="payuMoneyFunc()"   method="post" name="payuForm">

                   <fieldset>

                               <input type="hidden" name="key" ng-model="merchant_key" value="{{merchant_key}}" />

                               <input type="hidden" name="hash" value="{{hash}}" ng-model="hash" />

                               <input type="hidden" name="txnid" ng-model="txnId" value="{{txnId}}"  />

                               <input type="text" id="amount" name="amount"  ng-model="amount" value="{{amount}}" placeholder="Amount" />

                               

                               <input type="text" id="firstname" name="firstname" value="{{firstname}}"  ng-model="firstname" placeholder="Your Name" required/>

                               

                               <input type="email" name="email" ng-model="email" value="{{email}}"  placeholder="Email id" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"

                               />
                           

                               <input type="text" id="phone"  value="{{phone}}" ng-minlength="10" ng-maxlength="10" name="phone" ng-model="phone" placeholder="Phone Number"

                                required pattern="[789][0-9]{9}" />

                               <p style="color:red" ng-show="onSubmit && (payuForm.phone.$error.required)">Please Enter your number.</p>

                               <p style="color:red" ng-show="onSubmit && (payuForm.phone.$error.pattern || payuForm.phone.$error.minlength || payuForm.phone.$error.maxlength)">Invalid mobile number.</p>

                               <input type="text" id="productinfo" name="productinfo" ng-model="productinfo" ng-init="productinfo = 'propertyPost'" value="propertyPost"

                               />

                               <input type="hidden" style="visibility:hidden;" id="surl" name="surl" ng-model="surl" value="http://toolsomg.com/success.html"

                                placeholder="Address" />

                               <input type="hidden" style="visibility:hidden;" id="furl" name="furl" ng-model="furl" value="http://toolsomg.com/error.html"

                                placeholder="Address" />

                               <p style="color:red" ng-show="onSubmit && (payuForm.address.$error.required)">Please enter Address</p>

                               <center>

                                   <input type="hidden" style="width:158px !important;display: -webkit-box;" class="next action-button" value="Confirm">

                                   <span ng-show="searchButtonText == 'Please Wait...'">

                                       <img style="width: 21px !important;" src="view/images/loading.gif">

                                   </span>{{ searchButtonText }}</center>

                           

                                    <input type="submit" id="payment_conti" style="background-color:#0487a1;border-color:#0487a1;" class="next action-button" value="Go To Payu" > 

                           </fieldset>

                 </form>
                       <!-- </div> -->

              </div>

           </div>

        </div>


     </div>
     </ion-content>
    </ion-view>



  



    

