<ion-view>

    <!--  category top header start here  -->
    <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
        <ion-nav-buttons side="left">
            <a class="button button-icon icon ion-close-circled" menu-toggle="left" ng-click="goback()"></a>
        </ion-nav-buttons>
        <ion-nav-title>
            <div class="h1 title">Product Details</div>
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <a class="button button-icon icon ion-android-cart" menu-toggle="right" ng-click="gotoFilter()"></a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <!--  category top header end here  -->

    <ion-content class="smt_background_image" style="padding:0;">

       
        <div class="row">
            <div class="col ">
                <!-- <ion-slide-box does-continue="true" class="mainSlider">
                    <ion-slide class="mainSlider" ng-repeat="img in imgList track by $index">
                        <img width="50%" ng-src="{{img}}">
                    </ion-slide>
                    <ion-slide class="mainSlider">
                        <img width="50%" ng-src="{{productDetail.upload_photo}}">
                    </ion-slide>

                </ion-slide-box> -->


                <ion-slides options="" slider="" class="prod_slider">
                    <ion-slide-page ng-repeat="img in imgList track by $index" class="text-center">
                        <img ng-src="{{img}}" class="">
                    </ion-slide-page>
                </ion-slides>


            </div>
        </div>

       
        <div class="product_top_desc">
            <div class="row">
                <div class="col">
                    <!--   Banner Slider part Start here    -->

                    <!--   Banner Slider part end here    -->

                    <!--  Product Description part start here    -->
                    <div>

                        <div class="product_Detail_price">
                            <span class="offer_price">{{productDetailPrice.offer_price | currency:'&#8377;'}}</span>
                            <span class="real_price">{{productDetailPrice.enduser_price | currency:'&#8377;'}}</span>
                            <span class="offer_percentage"> - {{productDetailPrice.percentage}}%</span>
                        </div>
                        <p class="detailexcl_gst">(Excluding-GST)</p>
                        <!--  Product Description part end here    -->
                        <div class="pro_detail_name">
                            <h1>{{productDetail.upload_name}}</h1>
                            <!-- <p>sfhsdf dfsdif ksdjfdfj dkfjsdf kjdfhkfhs dfhdshfs hjfdsfhsdf dsfhdsifhds dshfidsfhisdf dsfhd jfdh
                            ndfjdfh sdfhdfh dfdhfdshf</p> -->
                        </div>
                    </div>
                </div>
            </div>


            <div class="product_desc">
                <div class="row">
                    <div class="col">
                        <div class="highlits">
                            <h3>Highlights</h3>
                            <ul>
                                <li>Brand : {{productDetail.upload_brand}}</li>
                                <li>Model No : {{productDetail.upload_modelno}}</li>
                                <li>Net Weight : {{productDetail.upload_netWeight}}</li>
                                <li ng-repeat="specification in ProductSpecification  | limitTo:2">
                                    <span> {{specification.atrname}}</span>
                                    <span> {{specification.atrvalue}}</span>
                                </li>
                                <a ui-sref="specifications_page">View Details</a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product_desc" id="prodetail">
                <div class="row">
                    <div class="col col-50">
                        <div class="highlits">
                            <h3>Ratings & Reviews</h3>
                        </div>
                    </div>
                </div>
                <div class="rating">
                    <div class="row">
                        <div class="center_star">
                            <div>
                                <span class="ratepercentage">{{productDetail.avgrating}}/5</span>
                            </div>
                            <div>
                                <div id="rating" ng-repeat="n in [] | range:5" style="float:left;">

                                    <div ng-if="n<productDetail.avgrating">
                                        <i class="fa fa-star" aria-hidden="true" style="padding-right:5px;font-size:15px;color:#efb30b;"></i>
                                    </div>

                                    <div ng-if="n>=productDetail.avgrating">
                                        <i class="fa fa-star-o" aria-hidden="true" style="padding-right:5px;font-size:15px;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>



                </div>

                <br>

                <div ng-repeat="reviews in prdouctReviewInfo|limitTo:3">

                    <div class="padding-left5" ng-repeat="review in reviews.data |limitTo:2">
                        <span class="review-rated">{{review.rating}}
                            <i class="ion-android-star-outline"></i>
                        </span>
                        <span class="padding-left2">{{review.review}}
                            <span>Review by</span>
                            <span class="theme_clr">{{review.user}}</span>
                        </span>
                        <p class="review_desc">{{review.rating_comments}}</p>
                        <p class="posted_on">Posted On
                            <span>{{review.created_date | date:'medium'}}</span>
                            <p>
                    </div>
                </div>


                <div class="row">
                    <div class="col">
                        <div class="highlits" ng-click="review=!review" id="product-icon">
                            <h3>Write your review</h3>
                            <i class="downarrow icon ion-chevron-down icon-accessory"></i>
                        </div>
                        <div ng-if="review">
                            <form name="reviewForm">
                                <ionic-ratings class="give_rating" ng-model="reviewdata.rating" name="rating" ratingsobj='ratingsObject' index='0'></ionic-ratings>
                                <span ng-show="reviewForm.$submitted || reviewForm.rating.$touched || (reviewForm.rating.$dirty && reviewForm.rating.$invalid)">
                                    <span class="error" ng-show="reviewForm.rating.$error.required">Please give rating.</span>
                                </span>

                                <!-- <label class="item item-input item-floating-label">
                                    <span class="input-label">Name*</span>
                                    <input type="text" name="name" placeholder="Name" ng-model="reviewdata.name" required ng-minlength="3" ng-maxlength="50"
                                        ng-pattern="/^[A-z][A-z .]*$/">
                                </label> -->

                                <label class="item item-input item-floating-label" id="border_none">
                                    <span class="input-label space">Name
                                        <span class="error">*</span>
                                    </span>
                                    <div class="input-placeholder">
                                        <input type="text" name="name" ng-model="reviewdata.name" required ng-minlength="3" ng-maxlength="50" ng-pattern="/^[A-z][A-z .]*$/">
                                        <div class="placeholder">
                                            Enter your name
                                            <span class="star">*</span>
                                        </div>
                                    </div>
                                </label>

                                <span ng-show="reviewForm.$submitted || reviewForm.name.$touched || (reviewForm.name.$dirty && reviewForm.name.$invalid)">
                                    <span class="error" ng-show="reviewForm.name.$error.required">Please enter First Name.</span>
                                    <span class="error" ng-show="reviewForm.name.$error.pattern">Allows only Alphabets.</span>
                                    <span class="error" ng-show="reviewForm.name.$error.minlength">Should be atleast 3-50 characters.</span>
                                    <span class="error" ng-show="reviewForm.name.$error.maxlength">Should be atleast 3-50 characters.</span>
                                </span>

                                <!-- <label class="item item-input item-floating-label">
                                    <span class="input-label">Summary of Your Review*</span>
                                    <input type="text" name="summary" placeholder="Summary of Your Review " ng-model="reviewdata.summary">
                                </label> -->

                                <label class="item item-input item-floating-label" id="border_none">
                                    <span class="input-label space">Summary of Your Review
                                        <span class="error">*</span>
                                    </span>
                                    <div class="input-placeholder">
                                        <input type="text" name="summary" required ng-model="reviewdata.summary">
                                        <div class="placeholder">
                                            Summary of Your Review
                                            <span class="star">*</span>
                                        </div>
                                    </div>
                                </label>

                                <span ng-show="reviewForm.$submitted || reviewForm.summary.$touched || (reviewForm.summary.$dirty && reviewForm.summary.$invalid)">
                                    <span class="error" ng-show="reviewForm.summary.$error.required">Please enter summary.</span>
                                </span>
                                <!-- <label class="item item-input item-floating-label">
                                    <span class="input-label">Mobile Number*</span>
                                    <input type="text" placeholder="Mobile Number" name="mobile" ng-model="reviewdata.mobile" ng-minlength="10" ng-pattern="/^[6-9][0-9]{9}$/"
                                        maxlength="10" required>
                                </label> -->

                                <label class="item item-input item-floating-label" id="border_none">
                                    <span class="input-label space">Mobile Number
                                        <span class="error">*</span>
                                    </span>
                                    <div class="input-placeholder">
                                        <input type="text" name="mobile" ng-model="reviewdata.mobile" ng-minlength="10" ng-pattern="/^[6-9][0-9]{9}$/" maxlength="10"
                                            required>
                                        <div class="placeholder">
                                            Mobile Number
                                            <span class="star">*</span>
                                        </div>
                                    </div>
                                </label>

                                <span ng-show="reviewForm.$submitted || reviewForm.mobile.$touched || (reviewForm.mobile.$dirty && reviewForm.mobile.$invalid)">
                                    <span class="error" ng-show="reviewForm.mobile.$error.required">Please enter Mobile Number.</span>
                                    <span class="error" ng-show="reviewForm.mobile.$error.pattern">Please enter Valid Mobile Number.</span>
                                    <!-- <span class="error" ng-show="registerForm.mobile.$error.minlength">Enter 10 digit Mobile Number</span> -->
                                </span>

                                <!-- <label class="item item-input item-floating-label">
                                    <span class="input-label">Review*</span>
                                    <input type="text" placeholder="Review..." name="review" ng-model="reviewdata.review">
                                </label> -->

                                <label class="item item-input item-floating-label" id="border_none">
                                    <span class="input-label space">Review
                                        <span class="error">*</span>
                                    </span>
                                    <div class="input-placeholder">
                                        <input type="text" name="mobile" ng-model="reviewdata.review" required>
                                        <div class="placeholder">
                                            Review...
                                            <span class="star">*</span>
                                        </div>
                                    </div>
                                </label>

                                <span ng-show="reviewForm.$submitted || reviewForm.review.$touched || (reviewForm.review.$dirty && reviewForm.review.$invalid)">
                                    <span class="error" ng-show="reviewForm.review.$error.required">Please enter review</span>
                                </span>

                                <div class="col text-center">
                                    <!-- <button style="float:right" ng-click="submitReviews(reviewdata, productDetail.upload_name)">submit</button> -->
                                    <button class="button all_btns middle" ng-click="submitReviews(reviewdata, productDetail.upload_name)">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product_desc">
                <div class="row" ui-sref="relatedProducts_page">
                    <div class="col">
                        <div class="related">
                            <h1>Related Products
                                <span>
                                    <i class="ion-chevron-right"></i>
                                </span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product_desc">
                <div class="row" ui-sref="upsellProducts_page">
                    <div class="col">
                        <div class="related">
                            <h1>Upsell Products
                                <span>
                                    <i class="ion-chevron-right"></i>
                                </span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>

    <ion-footer-bar>
        <!--Footer Start here -->
        <div id="footer" class="button-bar">
            <a id="cart" class="button" ng-click="addtoCart(productDetail.upload_name)">ADD TO CART</a>
            <a id="buynow" class="button">BUY NOW</a>
        </div>
        <!--Footer End here -->
    </ion-footer-bar>
</ion-view>