<ion-view>

    <!--  category top header start here  -->
    <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
        <ion-nav-buttons side="left">
            <a class="button button-icon icon ion-close-circled" menu-toggle="left" ng-click="goback()"></a>
        </ion-nav-buttons>
        <ion-nav-title>
            <div class="h1 title">Product Details</div>
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <a class="button button-icon icon ion-android-cart" menu-toggle="right" ng-click="gotoFilter()"></a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <!--  category top header end here  -->

    <ion-content class="smt_background_image" style="padding:0;">

        <div class="product_top_desc">
            <div class="row">
                <div class="col">
                    <!--   Banner Slider part Start here    -->
                    <ion-slide-box class="product_detailSlider" auto-play="false" does-continue="true" id="productdetailSlide">
                        <ion-slide class="mainSlides">
                            <img ng-src={{productDetail.upload_photo}} width="50%">
                        </ion-slide>
                    </ion-slide-box>
                    <!--   Banner Slider part end here    -->

                    <!--  Product Description part start here    -->
                    <div>
                        <div class="product_Detail_price">
                            <span class="offer_price">{{productDetailPrice.offer_price | noFractionCurrency:'&#8377;'}}</span>
                            <span class="real_price">{{productDetailPrice.enduser_price | noFractionCurrency:'&#8377;'}}</span>
                            <span class="offer_percentage"> - {{productDetailPrice.percentage}}%</span>
                        </div>
                        <p class="detailexcl_gst">(Excluding-GST)</p>
                        <!--  Product Description part end here    -->
                        <div class="pro_detail_name">
                            <h1>{{productDetail.upload_name}}</h1>
                            <!-- <p>sfhsdf dfsdif ksdjfdfj dkfjsdf kjdfhkfhs dfhdshfs hjfdsfhsdf dsfhdsifhds dshfidsfhisdf dsfhd jfdh
                            ndfjdfh sdfhdfh dfdhfdshf</p> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="product_desc">
                <div class="row">
                    <div class="col">
                        <div class="highlits">
                            <h3>Highlights</h3>
                            <ul>
                                <li>Brand : {{productDetail.upload_brand}}</li>
                                <li>Model No : {{productDetail.upload_modelno}}</li>
                                <li>Net Weight : {{productDetail.upload_netWeight}}</li>
                                <li ng-repeat="specification in ProductSpecification  | limitTo:2">
                                    <span> {{specification.atrname}}</span>
                                    <span> {{specification.atrvalue}}</span>
                                </li>
                                <a ui-sref="specifications_page">View Details</a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product_desc">
                <div class="row" ui-sref="relatedProducts_page">
                    <div class="col">
                        <div class="related">
                            <h1>Related Products
                                <span>
                                    <i class="ion-chevron-right"></i>
                                </span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product_desc">
                <div class="row" ui-sref="upsellProducts_page">
                    <div class="col">
                        <div class="related">
                            <h1>Upsell Products
                                <span>
                                    <i class="ion-chevron-right"></i>
                                </span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>

    </ion-content>

    <!--Footer Start here -->
    <div id="footer" class="button-bar">
        <a id="cart" class="button icon-left ion-android-cart">ADD TO CART</a>
        <a id="buynow" class="button icon-left ion-bag">BUY NOW</a>
    </div>
    <!--Footer End here -->

</ion-view>