<ion-view>
    <!--  category top header start here  -->
    <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
        <ion-nav-buttons side="left">
            <!-- <a class="button button-icon icon ion-close-circled" ng-click="goback()"></a>
             -->
             <span>  <img src="img/close.svg" style="width:50%;margin-left: 10px;" ng-click="goback()"></span>
        </ion-nav-buttons>
        <ion-nav-title>
            <div class="h1 title">Related Products</div>
        </ion-nav-title>
        <ion-nav-buttons side="right">
                <img src="img/kart_white.svg" ng-click="gotoCartPage()">
            <!-- <a class="button button-icon icon ion-android-cart" ng-click="gotoCartPage()"></a> -->
            <ion-badge ng-if="CartItemsCount > 0" class="cart_badge">{{CartItemsCount}}</ion-badge>
        </ion-nav-buttons>
    </ion-nav-bar>
    <!--  category top header end here  -->


    <ion-content class="smt_background_image" style="padding:0;">

        <!--  category body start here  -->
        <!-- <div class="category_body">
            <div class="category_dropdown rel_cat">
                <div class="list" style="float:left;">
                    <label> Show</label>
                    <select ng-model="noOfItems" ng-change="getselectedNoProducts(noOfItems)">
                        <option value="12" selected>12</option>
                        <option value="24">24</option>
                        <option value="36">36</option>
                    </select>

                </div>
                <div class="list" style="float:right;">
                    <label> Sort</label>
                    <select ng-model="sortItem" ng-change="getsortedProducts(sortItem)">
                        <option selected value="popularty">Popularity</option>
                        <option value="topselling">Topselling</option>
                        <option value="namefilter">Name</option>
                        <option value="price_low_high">Price:Low to High</option>
                        <option value="price_high_low">Price:High to Low</option>
                    </select>
                </div>
            </div>
        </div> -->

        <div class="row" ng-repeat="related in relatedproducts" ng-switch on="$index % 2" id="prod_border">
            <div class="col" ng-switch-when="0">
                <div class="card1111">
                    <img ng-src="{{related.upload_photo | image_jpg}}" ng-click="getProductDetails(related)" width="90%">
                    <div class="content_part">
                        <div class="product_name" ng-init="limit=30" id="tooltip_name" ng-click="getProductDetails(related)">
                            <a href="">{{related.upload_name | limitTo: limit}}{{related.upload_name .length > limit ? ' . . .' : ''}}</a>
                        </div>
                        <div class="product_price" ng-repeat="price in related.prices">
                            <span class="offer_price">{{price.offer_price | currency:'&#8377;'}}</span>
                            <span class="real_price">{{price.enduser_price | currency:'&#8377;'}}</span>
                            <span class="offer_percentage">{{price.percentage}}%</span>
                        </div>
                        <p class="excl_gst">(Excluding-GST)</p>
                        <div class="cart_icons">
                            <span ng-click="addtoCart(related.upload_name)">
                                <i class="icon ion-android-cart"></i>
                            </span>
                            <span ng-click="addtoWishList(related.upload_name)">
                                <i class="icon ion-heart"></i>
                            </span>
                            <!-- <span class="extraCshback">
                                    + Extra Cashback
                                </span> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col" ng-switch-when="0">
                <div class="card1111" ng-show="relatedproducts[$index+1]">
                    <img ng-src="{{relatedproducts[$index+1].upload_photo | image_jpg}}" ng-click="getProductDetails(relatedproducts[$index+1])"
                        width="90%">
                    <div class="content_part">
                        <div class="product_name" ng-init="limit=30" id="tooltip_name" ng-click="getProductDetails(relatedproducts[$index+1])">
                            <a href="">{{relatedproducts[$index+1].upload_name | limitTo: limit}}{{relatedproducts[$index+1].upload_name
                                .length > limit ? ' . . .' : ''}}</a>
                        </div>
                        <div class="product_price" ng-repeat="price in relatedproducts[$index+1].prices">
                            <span class="offer_price">{{price.offer_price | currency:'&#8377;'}}</span>
                            <span class="real_price">{{price.enduser_price | currency:'&#8377;'}}</span>
                            <span class="offer_percentage">{{price.percentage}}%</span>
                        </div>
                        <p class="excl_gst">(Excluding-GST)</p>
                        <div class="cart_icons">
                            <span ng-click="addtoCart(relatedproducts[$index+1].upload_name)">
                                <i class="icon ion-android-cart"></i>
                            </span>
                            <span ng-click="addtoWishList(relatedproducts[$index+1].upload_name)">
                                <i class="icon ion-heart"></i>
                            </span>
                            <!-- <span class="extraCshback">
                                    + Extra Cashback
                                </span> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="relatedproducts.length==0">
            <div class="col no_records">
                <span>No Products Available !!!</span>
            </div>
        </div>
        <!--  category body end here  -->
    </ion-content>

    <ion-footer-bar class="smtFooter">
        <div class="tabs tabs-icon-top bar bar-assertive">
            <a class="tab-item" ng-click="gotoRespectivePage('home')">
                <i class="icon ion-ios-home"></i>
                Home
            </a>
            <a class="tab-item" ng-click="gotoRespectivePage('dealers')">
                <i class="icon ion-ios-people-outline"></i>
                Dealers
            </a>
            <a class="tab-item" ng-click="gotoRespectivePage('tracking')">
                <i class="icon ion-home"></i>
                Tracking
            </a>
            <a class="tab-item" ng-click="gotoRespectivePage('service')">
                <i class="icon ion-ios-person-outline"></i>
                Service
            </a>
            <a class="tab-item" ng-click="gotoRespectivePage('more')">
                <i class="icon ion-ios-more-outline"></i>
                More
            </a>
        </div>

    </ion-footer-bar>
</ion-view>