<ion-view>
    <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
        <ion-nav-buttons side="left">
            <!-- <a class="button button-icon icon ion-close-circled" ng-click="goback()"></a>
             -->
             <span>  <img src="img/close.svg" style="width:50%;margin-left: 10px;" ng-click="goback()"></span>
        </ion-nav-buttons>
        <ion-nav-title>
            <div class="h1 title">Return Policy</div>
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content class="smt_background_image" style="padding: 0;">
       <div class="" style="padding:25px;">
                <b>  What is the basic time period to return a product?</b>
                <p> We offer Return/Replacement within 7 days of delivery of the order. In the event that a damaged product
                    is received, it must be reported to us within 48 hours of delivery.
                </p>
          
                <b>  How to initiate the return request on ShopMyTools orders?</b>
                <p> Returns are easy. Contact us to initiate a return. You will receive a call explaining the process, once
                    you have initiated a return. For more queries contact us at or 040-46161234. 
                    Note: Customer should intimate
                    us within 48 hours of receiving the order
                </p>
         
                <b>  What do I need to do when I have received a faulty product?</b>
                <p> SMT (ShopMyTools) ensures a quality product to be delivered to its customers but, in the case of faulty
                    product deliveries, it must be reported to us within 48 hours of delivery.</p>
          
                <b> What to do when I’ve ordered a product and it is in transit and I’ve changed my mind to cancel it?</b>
                <p> You can cancel your order before the product has not been processed for shipment. Once cancelled, complete
                    amount will be refunded for prepaid orders. Orders for Grainger products will not be cancelled once confirmed.</p>
          
                <b>  Under what cases, I can return my order?</b><br>

                <b style="text-decoration:underline;"> Return/Replacement Criteria :</b>
                <p>1: Item is physically damaged/defective.</p>
                <p>2: Varies from the description on the website.</p>
                <p>3: Wrong item delivered.</p>
                <p>4: Wrong quantity.</p>
                <p>5: Missing parts/accessories. </p>
         
                <b> On what conditions, the ordered product will not be eligible to return?</b><br>
                <b style="text-decoration:underline;">Return Eligibility :</b>
                <p>1: Customer should intimate us within 48 hours of receiving the order.</p>
                <p>2: If an item was delivered defective or damaged, it should be notified to the Customer Care team (support@shopmytools.com)
                    or 040-46161234 (Toll Free) within 48 hours from the time of delivery.</p>
                <p>3: Product should be unused. Not even once.</p>
                <p>4: Brand packing should remain intacty.</p>
                <p>5: Invoice should be available.</p>
                <p>6: All the tags/labels should be available. </p>
           
                <b> When can I expect the money refund for my returned product?</b>
                <p> ShopMyTools ensures for smoother transactions to the customers in money refund that return their order
                    with a valid reason. The basic time period of Refund will be processed through same mode within 10 working
                    days.</p>
            </div>
    </ion-content>
</ion-view>