<ion-view>

    <!--  category top header start here  -->
    <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
        <ion-nav-buttons side="left">
            <a class="button button-icon icon ion-close-circled" ng-click="goback()"></a>
        </ion-nav-buttons>
        <ion-nav-title>
            <div class="h1 title">Search Products</div>
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <a class="button button-icon icon ion-android-cart" ng-click="gotoCartPage()"></a>
            <ion-badge ng-if="CartItemsCount > 0" class="cart_badge">{{CartItemsCount}}</ion-badge>
        </ion-nav-buttons>
    </ion-nav-bar>
    <!--  category top header end here  -->

    <ion-content class="smt_background_image" style="padding:0;">

        <div class="row" ng-repeat="product in searchedMoreProducts  | limitTo:6" ng-switch on="$index % 2" id="prod_border">
            <div class="col" ng-switch-when="0">
                <div class="card1111">
                    <img ng-src="{{product.upload_photo  | image_jpg}}" width="90%">
                    <div class="content_part">
                        <div class="product_name" id="tooltip_name">
                            <a href="" ng-click="getProductDetails(product)">{{product.upload_name}}</a>
                        </div>
                        <div class="product_price" ng-repeat="price in product.prices">
                            <span class="offer_price">{{price.offer_price | currency:'&#8377;'}}</span>
                            <span class="real_price">{{price.enduser_price | currency:'&#8377;'}}</span>
                            <span class="offer_percentage">{{price.percentage}}%</span>
                        </div>
                        <p class="excl_gst">(Excluding-GST)</p>
                        <div class="cart_icons">
                            <span ng-click="addtoCart(product)">
                                <i class="icon ion-android-cart"></i>
                            </span>
                            <span ng-click="addtoWishList(product)">
                                <i class="icon ion-heart"></i>
                            </span>
                            <!-- <span class="extraCshback">
                                    + Extra Cashback
                                </span> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col" ng-switch-when="0">
                <div class="card1111" ng-show="searchedMoreProducts[$index+1]">
                    <img ng-src="{{searchedMoreProducts[$index+1].upload_photo | image_jpg}}" width="90%">
                    <div class="content_part">
                        <div class="product_name">
                            <a href="" ng-click="getProductDetails(searchedMoreProducts[$index+1])">{{searchedMoreProducts[$index+1].upload_name}}</a>
                        </div>
                        <div class="product_price" ng-repeat="price in searchedMoreProducts[$index+1].prices">
                            <span class="offer_price">{{price.offer_price | currency:'&#8377;'}}</span>
                            <span class="real_price">{{price.enduser_price | currency:'&#8377;'}}</span>
                            <span class="offer_percentage">{{price.percentage}}%</span>
                        </div>
                        <p class="excl_gst">(Excluding-GST)</p>
                        <div class="cart_icons">
                            <span ng-click="addtoCart(product)">
                                <i class="icon ion-android-cart"></i>
                            </span>
                            <span ng-click="addtoWishList(product)">
                                <i class="icon ion-heart"></i>
                            </span>
                            <!-- <span class="extraCshback">
                                    + Extra Cashback
                                </span> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  category body end here  -->
        <div class="row " ng-if="searchedMoreProducts.length==0">
            <div class="col no_records">
                <span>No Products Available !!!</span>
            </div>
        </div>

    </ion-content>
</ion-view>