<ion-view>

    <!-- header part start here -->
    <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-clear" ng-click="goback()">
                <i class="icon ion-close-circled"></i>
            </button>
        </ion-nav-buttons>
        <ion-nav-title>
            <div class="h1 title">Cart</div>
        </ion-nav-title>
    </ion-nav-bar>
    <!-- header part end here -->

    <ion-content class="smt_background_image" style="padding:0;">
        <ion-list>

            <div class="block">
                <div class="filter_head_options">
                    <ion-item>
                        <span>Shipping Address</span>
                        <i ng-if="showshippingDiv" class="downarrow icon ion-chevron-down icon-accessory" style="float:right;"></i>
                        <i ng-if="!showshippingDiv" class="downarrow icon ion-chevron-up icon-accessory" style="float:right;"></i>
                    </ion-item>
                </div>

                <ion-list class="item-accordion item-text-wrap" id="filter_checkOptions" ng-show="showshippingDiv">
                    <div class="">
                        <form class="radiobutns">
                            <input type="radio" name="Pickup" ng-model="checkoutData.shippingType" value="Pickup"> Pick Up
                            <br>
                            <input type="radio" name="Delivery" ng-model="checkoutData.shippingType" value="Delivery"> Delivery
                        </form>
                    </div>

                    <!-- pick up start here -->
                    <div class="pickup" ng-if="checkoutData.shippingType == 'Pickup'">
                        <form name="pickupForm">
                            <div class="list login_labls m_top-10">

                                <label class="item item-input item-floating-label">
                                    <input type="text" placeholder="GST Number" name="gst" ng-model="getPincodeData.gst_number">
                                </label>
                                <br/>
                                <label class="item item-input item-floating-label">
                                    <input type="text" placeholder="Mobile" name="mobile" ng-model="getPincodeData.mobile" ng-minlength="10" ng-pattern="/^[6-9][0-9]{9}$/"
                                        maxlength="10" required>
                                </label>
                                <div class="row">
                                    <div class="validations">
                                        <span ng-show="pickupForm.$submitted || pickupForm.mobile.$touched || (pickupForm.mobile.$dirty && pickupForm.mobile.$invalid)">
                                            <span class="error" ng-show="pickupForm.mobile.$error.required">Please enter Mobile Number.</span>
                                            <span class="error" ng-show="pickupForm.mobile.$error.pattern">Please enter Valid Mobile Number.</span>
                                        </span>
                                    </div>
                                </div>
                                <br/>
                                <label class="item item-input item-floating-label">
                                    <input type="text" name="postal_code" ng-model="getPincodeData.postal_code" placeholder="Postal code" required maxlength="6"
                                        ng-pattern="/^[1-9][0-9]{5}$/">
                                </label>
                                <div class="row">
                                    <div class="validations">
                                        <span ng-show="pickupForm.$submitted || pickupForm.postal_code.$touched || (pickupForm.postal_code.$dirty && pickupForm.postal_code.$invalid)">
                                            <span class="error" ng-show="pickupForm.postal_code.$error.required">Please enter Pincode.</span>
                                            <span class="error" ng-show="pickupForm.postal_code.$error.pattern">Please enter Valid Pincode.</span>
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <button class="button button-block all_btns" id="reg_btn" ng-disabled="pickupForm.$invalid" ng-click="getPickupDetails(getPincodeData)">Get</button>
                        </form>
                    </div>
                    <!-- pick up end here -->

                    <!-- Delivery start here -->
                    <div class="delivery" ng-if="checkoutData.shippingType == 'Delivery'">
                        <div class="row">
                            <div class="col delivery">
                                <div ng-if="shippingAddressLength>0">
                                    <h1>{{shippingAddress.firstname}} {{shippingAddress.lastname}}</h1>
                                    <p>
                                        <span>{{shippingAddress.house_no}},</span>
                                        <span>{{shippingAddress.street_address}},</span>
                                        <span>{{shippingAddress.city}}, {{shippingAddress.postal_code}}</span>
                                        <span>{{shippingAddress.state}},</span>
                                        <span>{{shippingAddress.country}}.</span>
                                    </p>
                                    <p class="theme_clr">{{shippingAddress.mobile}}</p>
                                </div>
                                <!-- <a class="f_right" id="reg_btn" ng-click="editAddress(shippingAddress)">Change or Add Address</a> -->
                                <button class="button all_btns changeAddr middle" ng-click="editAddress(shippingAddress)">Change or Add Address</button>
                                <!--all_btns_chkot replace of all_btns-->
                                <button class="button all_btns conti middle" ng-disabled="shippingAddressLength == 0" ng-click="saveShippingAddress()">Continue</button>
                                <!--all_btns_chkot replace of all_btns-->
                            </div>
                        </div>
                    </div>
                    <!-- Delivery end here -->

                </ion-list>

            </div>

            <div class="block">
                <div class="filter_head_options">
                    <ion-item>
                        <span>Billing Address</span>
                        <i ng-if="showBillingAddressDiv" class="downarrow icon ion-chevron-down icon-accessory" style="float:right;"></i>
                        <i ng-if="!showBillingAddressDiv" class="downarrow icon ion-chevron-up icon-accessory" style="float:right;"></i>
                    </ion-item>
                </div>

                <ion-list class="item-accordion item-text-wrap" id="filter_checkOptions" ng-show="showBillingAddressDiv">
                    <div class="row ">
                        <div class="col delivery">
                            <div ng-if="billingAddressLength>0">
                                <h1>{{billingAddress.firstname}} {{billingAddress.lastname}}</h1>
                                <p>
                                    <span>{{billingAddress.house_no}},</span>
                                    <span>{{billingAddress.street_address}},</span>
                                    <span>{{billingAddress.city}}, {{billingAddress.postal_code}}</span>
                                    <span>{{billingAddress.state}},</span>
                                    <span>{{billingAddress.country}}.</span>
                                </p>
                                <p class="theme_clr">{{billingAddress.mobile}}</p>
                            </div>
                            <!-- <a class="f_right" id="reg_btn" ng-disabled="registerForm.$invalid">Change or Add Address</a> -->
                            <button class="button all_btns changeAddr middle" id="reg_btn" ng-click="gotoEditBillingAddress()">Change or Add Address</button>
                            <button class="button all_btns conti middle" id="reg_btn" ng-disabled="billingAddressLength == 0" ng-click="saveBillingAddress(billingAddress)">Continue</button>
                        </div>
                    </div>
                </ion-list>
            </div>



            <div class="block">


                <div class="filter_head_options">
                    <ion-item>
                        <span>Order Review</span>
                        <i ng-if="showOrderDetailDiv" class="downarrow icon ion-chevron-down icon-accessory" style="float:right;"></i>
                        <i ng-if="!showOrderDetailDiv" class="downarrow icon ion-chevron-up icon-accessory" style="float:right;"></i>
                    </ion-item>
                </div>

                <ion-list class="item-accordion item-text-wrap" id="filter_checkOptions" ng-if="showOrderDetailDiv">

                    <div class="category_body">
                        <div class="row">
                            <div class="col" ng-if="cartItemsList.length > 0">
                                <div class="pro_amnt_details">
                                    <h2>Price Details</h2>
                                    <div class="">
                                        <p>
                                            <span class="attr">Total Price</span>
                                            <span class="val">{{totalprice | currency:'&#8377;'}}</span>
                                        </p>
                                        <p>
                                            <span class="attr">Total Tax Amt</span>
                                            <span class="val">{{totaltaxAmout | currency:'&#8377;'}}</span>
                                        </p>
                                        <p>
                                            <span class="attr">Shipping Charges</span>
                                            <span class="val">&#8377;0.00</span>
                                        </p>
                                    </div>
                                    <p>
                                        <span class="attr">Grand Total (
                                            <span>{{cartItemsList.length}}</span> items)</span>
                                        <span class="val">{{grand_total | currency:'&#8377;'}}</span>
                                    </p>
                                    <p ng-if="couponAmt">
                                        <span class="attr">Coupon Amount</span>
                                        <span class="val">{{couponAmt | currency:'&#8377;'}}</span>
                                    </p>
                                   
                                    <!-- <p class="save_item">You will save 1200 rupees on this order...</p> -->
                                </div>
                            </div>
                        </div>

                        <div class="row pro_attr_vals txt_right">
                            <div class="col">
                                <!-- <p>
                                    <span class="attr">Amount Payble</span>
                                    <span class="val">{{grand_total | currency:'&#8377;'}}</span>
                                </p> -->
                                <p>
                                    <span class="attr">Amount Payble</span>
                                    <span class="val">{{grand_total-couponAmt | currency:'&#8377;'}}</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <span>Enter your coupon code if you have one.</span>
                            <div class="list login_labls">
                                <label class="item item-input item-floating-label">
                                    <input type="text" ng-model="coupon" placeholder="Enter Coupon Code" ng-change="getCouponText(coupon)" 
                                        my-enter="getCoupon(coupon)">
                                </label>

                                <button type="submit" class="btn btn-default pull-right" ng-disabled="couponShopMsg == 'true'" id="discCodesBtn" ng-click="getCoupon(coupon)">Apply Coupon</button>
                            </div>

                            <div style="margin-left: 10px;">
                                <p style="color: green;" ng-if="couponShopMsg == 'true' && couponShop != dealerAddress">This coupon is applicable for "{{couponShop}}" Shop</p>
                                <p style="color: green;" ng-if="couponShopMsg == 'true' && couponShop == dealerAddress">Success! Coupon code is applied.Discount of ₹{{couponAmt}} is deducted</p>
                                <p style="color: green;" ng-if="couponApplied == 'true'">Success! Coupon code is applied.Discount Amount ₹{{couponAmt}} is deducted </p>
                                <p style="color:red;font-size:12px;font-weight:bold;" ng-if="couponNotApplicable == 'true'">Enter valid Coupon</p>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col text-center">
                            <button class="button all_btns middle" id="reg_btn" ng-click="continueForPayment()">Continue</button>
                        </div>
                    </div>

                </ion-list>

            </div>

            <div class="block">

                <div class="filter_head_options">
                    <ion-item>
                        <span>Payment Method</span>
                        <i ng-if="showPaymentTypeDiv" class="downarrow icon ion-chevron-down icon-accessory" style="float:right;"></i>
                        <i ng-if="!showPaymentTypeDiv" class="downarrow icon ion-chevron-up icon-accessory" style="float:right;"></i>
                    </ion-item>
                </div>

                <ion-list class="item-accordion item-text-wrap" id="filter_checkOptions" ng-show="showPaymentTypeDiv">
                    <div class="">
                        <div class="radiobutns">
                            <input type="radio" name="payu" ng-model="paymentType" value="payu" ng-change="savePaymentType(paymentType)"> Pay Online
                            <br>
                            <input type="radio" name="cashondelivery" ng-model="paymentType" value="cashondelivery" ng-change="savePaymentType(paymentType)"> Cash on Delivery

                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <button class="button all_btns middle" ng-disabled="!paymentType" id="reg_btn" ng-click="checkoutProcess()">Place Order</button>
                            </div>
                        </div>
                    </div>
                </ion-list>

            </div>

        </ion-list>



    </ion-content>
</ion-view>