<ion-view>
    <ion-content class="smt_background_image" style="padding:0;">

        <!--  category top header start here  -->
        <div class="category_header">
            <div class="bar bar-header">
                <button class="button button-icon icon ion-close-circled"></button>
                <div class="h1 title">Product Name</div>
                <!-- <button class="button button-icon icon ion-android-cart"></button> -->
            </div>
        </div>
        <br/> <br/>
        <br/>
        <br/>
        <br/>
        <!--  category top header end here  -->

        <!-- tabs part start here -->
        <div class="about_product">
            <table style="width:100%" class="order_segment">
                <thead>
                    <tr>
                        <!-- <th ng-class="click?'seg_select':'seg_notselect' "ng-click="click=!click">Pending Orders</th> -->
                        <th ng-class="{seg_select}" ng-click="click1=!click1">Specifications</th>
                        <th ng-class="{seg_select}" ng-click="click2=!click2">Description</th>
                    </tr>
                </thead>
            </table>
        </div>
        <!-- tabs part end here -->


        <br/>
        <br/>
        <br/>
        <br/>


        <!-- description part start here -->
        <div class="row" ng-if="click2">
            <div class="col">
                <div class="prod_description">
                    <p>Explore the history of the classic Lorem Ipsum passage and generate your own text using any number of
                        characters, words, sentences or paragraphs. Commonly used as placeholder text in the graphic and
                        print industries, Lorem Ipsum's origins extend far back to a scrambled Latin passage from Cicero
                        in the middle ages.</p>
                </div>
            </div>
        </div>
        <!-- description part end here -->

        <!-- all specifications part start here -->
        <div class="prod_specification" ng-if="click1">
            <h2>Specifications</h2>
            <p class="spec_count">
                <span class="attrName">Attribute Name</span>
                <span class="seperatorColon"></span>
                <span class="attrValue">Attribute value</span>
            </p>
            <p class="spec_count">
                <span class="attrName">Attribute Name</span>
                <span class="seperatorColon"></span>
                <span class="attrValue">Attribute value</span>
            </p>
            <p class="spec_count">
                <span class="attrName">Attribute Name</span>
                <span class="seperatorColon"></span>
                <span class="attrValue">Attribute value</span>
            </p>
            <p class="spec_count">
                <span class="attrName">Attribute Name</span>
                <span class="seperatorColon"></span>
                <span class="attrValue">Attribute value</span>
            </p>
            <p class="spec_count">
                <span class="attrName">Attribute Name</span>
                <span class="seperatorColon"></span>
                <span class="attrValue">Attribute value</span>
            </p>
            <p class="spec_count">
                <span class="attrName">Attribute Name</span>
                <span class="seperatorColon"></span>
                <span class="attrValue">Attribute value</span>
            </p>
            <p class="spec_count">
                <span class="attrName">Attribute Name</span>
                <span class="seperatorColon"></span>
                <span class="attrValue">Attribute value</span>
            </p>
        </div>
        <!-- all specifications part end here -->


    </ion-content>
</ion-view>