<ion-view>
    <!--  category top header start here  -->
    <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
        <ion-nav-buttons side="left">
            <a class="button button-icon icon ion-close-circled" ng-click="goback()"></a>
        </ion-nav-buttons>
        <ion-nav-title>
            <div class="h1 title">Product Name</div>
        </ion-nav-title>
    </ion-nav-bar>
    <!--  category top header end here  -->

    <ion-content class="smt_background_image" style="padding:0;">
        <!-- tabs part start here -->
        <div class="about_product">
            <ion-tabs class="tabs-positive tabs-icon-top">

                <ion-tab title="Specifications">
                    <!-- all specifications part start here -->
                    <div class="prod_specification">
                        <!-- <h2>Specifications</h2> -->
                        <div class="row spec_count">
                            <div class="col">
                                <span class="attrName">Brand</span>
                            </div>
                            <div class="col">
                                <span class="attrValue">{{productDetail.upload_brand}}</span>
                            </div>
                        </div>
                        <div class="row spec_count">
                            <div class="col">
                                <span class="attrName">Model No</span>
                            </div>
                            <div class="col">
                                <span class="attrValue">{{productDetail.upload_modelno}}</span>
                            </div>
                        </div>
                        <div class="row spec_count">
                            <div class="col">
                                <span class="attrName">Price</span>
                            </div>
                            <div class="col">
                                <span class="attrValue">{{productDetailPrice.enduser_price | currency:'&#8377;'}}</span>
                            </div>
                        </div>
                        <div class="row spec_count">
                                <div class="col">
                                    <span class="attrName">Special Price</span>
                                </div>
                                <div class="col">
                                    <span class="attrValue">{{productDetailPrice.offer_price | currency:'&#8377;'}}</span>
                                </div>
                            </div>
                           
                                <div class="row spec_count" ng-repeat="specification in ProductSpecification">
                                        <div class="col">
                                            <span class="attrName">{{specification.atrname}}</span>
                                        </div>
                                        <div class="col">
                                            <span class="attrValue">{{specification.atrvalue}}</span>
                                        </div>
                                    </div>
                    </div>
                    <!-- all specifications part end here -->
                </ion-tab>

                <ion-tab title="Description">
                    <!-- description part start here -->
                    <div class="row">
                        <div class="col">
                            <div class="prod_description">
                                <p>{{productDetail.description}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- description part end here -->
                </ion-tab>
            </ion-tabs>
        </div>
        <!-- tabs part end here -->


    </ion-content>
</ion-view>