<ion-view>
        <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">

                <ion-nav-buttons side="left">
                  <a class="button button-icon button-clear ion-navicon" menu-toggle="left"></a>
                </ion-nav-buttons>
          
                <!-- <ion-nav-title>
                  <img ng-if="!search" width="100px" style="padding-top:8px" src="img/smtlogo.png">
                  <div class="bar bar-header item-input-inset" ng-if="search">
                    <label class="item-input-wrapper">
                    
                      <input type="search" style="color:black;" placeholder="Search here..." ng-model="searchKey" ng-change="getSeachProducts(searchKey)">
                    </label>
                  </div>
                </ion-nav-title> -->
                <ion-nav-title>
                  <img ng-if="!search" width="100px" style="padding-top:8px" src="img/smtlogo.png">
                </ion-nav-title>
          
                <ion-nav-buttons side="right">
                  <!-- <div ng-click="search=!search">
                    <button class="button button-icon icon ion-ios-search-strong" ng-click="changeval(search)"></button>
                  </div> -->
                  <button class="button button-icon icon ion-ios-search-strong" ui-sref="headerSearchbar"></button>
          
                  <button class="button button-icon icon ion-ios-cart" ng-click="gotoCartPage()"></button>
                  <ion-badge ng-if="CartItemsCount>0" class="cart_badge">{{CartItemsCount}}</ion-badge>
                </ion-nav-buttons>
          
              </ion-nav-bar>
    <ion-tabs class="tabs-icon-top tabs-positive">

        <ion-tab title="Home" icon="ion-home" href="#/tab/home">
            <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="About" icon="ion-ios-information" href="#/tab/about">
            <ion-nav-view name="about-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Contact" icon="ion-ios-world" ui-sref="tabs.contact">
            <ion-nav-view name="contact-tab"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>