<ion-view>

    <!--  category top header start here  -->
    <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
        <ion-nav-buttons side="left">
            <a class="button button-icon icon ion-close-circled" menu-toggle="left" ng-click="goback()"></a>
        </ion-nav-buttons>
        <ion-nav-title>
            <div class="h1 title">Upsell Products</div>
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <a class="button button-icon icon ion-search" menu-toggle="right" ng-click="gotoFilter()"></a>
            <a class="button button-icon icon ion-funnel" menu-toggle="right" ng-click="gotoFilter()"></a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <!--  category top header end here  -->

    <ion-content class="smt_background_image" style="padding:0;">

        <!--  category body start here  -->
        <!-- <div class="category_body">
            <div class="category_dropdown rel_cat">
                <div class="list" style="float:left;">
                    <label> Show</label>
                    <select ng-model="noOfItems" ng-change="getselectedNoProducts(noOfItems)">
                        <option value="12" selected>12</option>
                        <option value="24">24</option>
                        <option value="36">36</option>
                    </select>

                </div>
                <div class="list" style="float:right;">
                    <label> Sort</label>
                    <select ng-model="sortItem" ng-change="getsortedProducts(sortItem)">
                        <option selected value="popularty">Popularity</option>
                        <option value="topselling">Topselling</option>
                        <option value="namefilter">Name</option>
                        <option value="price_low_high">Price:Low to High</option>
                        <option value="price_high_low">Price:High to Low</option>
                    </select>
                </div>
            </div>
        </div> -->
        <br/>
      

        <div class="row"  ng-repeat="upsell in upsellproducts  | limitTo:6" ng-switch on="$index % 2">
                <div class="col" ng-switch-when="0">
                    <div class="card111">
                        <img ng-src={{upsell.upload_photo}}  width="90%">
                        <div class="content_part">
                            <div class="product_name" id="tooltip_name" ng-click="getProductDetails(upsell)">
                                <a href="" >{{upsell.upload_name}}</a>
                            </div>
                            <div class="product_price" ng-repeat="price in upsell.prices">
                                <span class="offer_price">{{price.offer_price | noFractionCurrency:'&#8377;'}}</span>
                                <span class="real_price">{{price.enduser_price | noFractionCurrency:'&#8377;'}}</span>
                                <span class="offer_percentage">{{price.percentage}}%</span>
                            </div>
                            <p class="excl_gst">(Excluding-GST)</p>
                            <div class="cart_icons">
                                <span>
                                    <i class="icon ion-android-cart"></i>
                                </span>
                                <span>
                                    <i class="icon ion-heart"></i>
                                </span>
                                <!-- <span class="extraCshback">
                                    + Extra Cashback
                                </span> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col" ng-switch-when="0">
                    <div class="card111" ng-show="upsellproducts[$index+1]">
                        <img ng-src={{upsellproducts[$index+1].upload_photo}}  width="90%">
                        <div class="content_part">
                            <div class="product_name" ng-click="getProductDetails(upsellproducts[$index+1])">
                                <a href="">{{upsellproducts[$index+1].upload_name}}</a>
                            </div>
                            <div class="product_price" ng-repeat="price in upsellproducts[$index+1].prices">
                                <span class="offer_price">{{price.offer_price | noFractionCurrency:'&#8377;'}}</span>
                                <span class="real_price">{{price.enduser_price | noFractionCurrency:'&#8377;'}}</span>
                                <span class="offer_percentage">{{price.percentage}}%</span>
                            </div>
                            <p class="excl_gst">(Excluding-GST)</p>
                            <div class="cart_icons">
                                <span>
                                    <i class="icon ion-android-cart"></i>
                                </span>
                                <span>
                                    <i class="icon ion-heart"></i>
                                </span>
                                <!-- <span class="extraCshback">
                                    + Extra Cashback
                                </span> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!--  category body end here  -->
        <div class="row " ng-if="upsellproducts.length==0">
               <div class="col no_records">
                    <span>No Products Available !!!</span>
                </div> 
            </div>
    
    </ion-content>
</ion-view>