<ion-view>

    <!--  category top header start here  -->
    <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
        <ion-nav-buttons side="left">
            <span class="button button-icon icon ion-close-circled" ng-click="goback()"></span>
        </ion-nav-buttons>
        <ion-nav-title>
            <div class="h1 title">My Wish List</div>
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <a class="button button-icon icon ion-android-cart" ng-click="gotoCartPage()"></a>
            <ion-badge ng-if="CartItemsCount > 0" class="cart_badge">{{CartItemsCount}}</ion-badge>
        </ion-nav-buttons>

    </ion-nav-bar>
    <!--  category top header end here  -->


    <ion-content class="smt_background_image" style="padding:0;">

        <!--  category body start here  -->
        <div class="category_body">
            <div class="category_cart_list">
                <div class="category_cart_list" ng-repeat="item in wishlistItems | orderBy:'$index':true">
                    <div class="list1">
                        <a class="item item-thumbnail-left cart_imge" class="product-img">
                            <img ng-src="{{item.upload_photo  | image_jpg}}" ng-click="getProductDetails(item)"  alt="{{item.brand_name}}">
                            <h1 style="white-space: initial;" ng-click="getProductDetails(item)">{{item.upload_name}}</h1>
                            <!-- <h2>Model Number</h2> -->
                            <div class="product_price" ng-repeat="price in item.prices">
                                <span class="offer_price">{{price.offer_price | currency:'&#8377;'}}</span>
                                <span class="real_price">{{price.enduser_price | currency:'&#8377;'}}</span>
                                <span class="offer_percentage">{{price.percentage}} %</span>
                            </div>
                            <p class="excl_gst">(Excluding-GST)</p>
                            <div class="cat_cart_icons whishlist_icons">
                                <span ng-click="addtoCartItems(item)">
                                    <i class="icon ion-android-cart"></i>
                                </span>
                                <span ng-click="deleteWishlistItem(item)">
                                    <i class="icon ion-trash-a"></i>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="wishlistItems.length == 0" class="cart-btn">
            <div align="middle">
                <i class="fa fa-heart" style="font-size:150px;margin-top:40%;color:#ccc"></i>
                <div style="padding-bottom:40px;">
                    <h3>
                        <span>Your Wish List is Empty</span>
                    </h3>
                </div>
                <button class="button button-block" style="width:50%;" ui-sref="app.home">Start Shopping</button>
            </div>
        </div>

        <!--  category body end here  -->
    </ion-content>


</ion-view>